**/.DS_Store
build/
htmlcov/
icloudpd.egg-info
cron_script.sh
.vscode
**/__pycache__
.pytest_cache/
.cache
*.pyc
.idea
.coverage
.coverage.*
.git
.venv
venv
create/
Dockerfile.test-py310
.dockerignore.test
check_py310_compat.py