**/.DS_Store
build/
htmlcov/
icloudpd.egg-info
cron_script.sh
Photos/
.vscode
**/__pycache__
.pytest_cache/
.cache
*.pyc
.idea
.coverage
.coverage.*
.git
tests/fixtures/Photos
tests/fixtures/中文
.venv
venv
create/