.DS_Store
build/
dist/
wheelhouse/
icloudpd.egg-info
tests/fixtures/**
.vscode
__pycache__
.pytest_cache
.cache
*.pyc
.idea
.coverage
.coverage.*
htmlcov
*.whl
.venv
venv
*.spec
# exclude since there is no js development, just for local testing npm packaging
node_modules/
/package.json
/package-lock.json
