.DS_Store
build/
dist/
icloudpd.egg-info
cron_script.sh
Photos/
tests/fixtures/**
.vscode
__pycache__
.pytest_cache
.cache
*.pyc
.idea
.coverage
.coverage.*
htmlcov
icloudpd-latest-py2.py3-none-any.whl
.venv
venv
*.spec
# exclude since there is no js development, just for local testing npm packaging
node_modules/
/package.json
/package-lock.json
