#!/bin/bash
# Make sure it's not already running
pgrep -f icloudpd && echo "icloudpd is already running." && exit

icloudpd \
  --username=testuser@example.com \
  --password=pass1234 \
  --size=original \
  --recent 500 \
  --auto-delete \
  /your/photos/directory
