<form hx-post="/code" hx-swap="outerHTML" class="row align-items-center" hx-target-error="#toast-content">
    <fieldset>
        <legend>Authentication{% if current_user %} - {{ current_user }}{% endif %}</legend>
        {% if error %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="fw-bold">{{ error }}</div>
            </li>
        </ul>
        {% endif %}
        <div class="col-12 mb-3">
          <label for="code" class="form-label">Two-Factor code for {{ current_user if current_user else 'iCloud account' }}</label>
          <input type="text" class="form-control" id="code" name="code" placeholder="Enter Two-Factor Code">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>