interactions:
- request:
    body: '{"apple_id": "jdoe@gmail.com", "password": "password1", "extended_login":
      false}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/login?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321
  response:
    body: {string: '{"dsInfo":{"lastName":"Doe","iCDPEnabled":false,"dsid":"185776146","hsaEnabled":true,"ironcadeMigrated":true,"locale":"en-us_US","brZoneConsolidated":false,"isManagedAppleID":false,"gilligan-invited":"true","appleIdAliases":["jdoe@icloud.com"],"hsaVersion":2,"isPaidDeveloper":true,"countryCode":"USA","notificationId":"ab6bfad3-e110-414f-9be0-125eff24efae","primaryEmailVerified":true,"aDsID":"001640-05-8c09a45f-3769-4206-a0c2-d88f3b815680","locked":false,"hasICloudQualifyingDevice":true,"primaryEmail":"jdoe@gmail.com","appleIdEntries":[{"isPrimary":true,"type":"EMAIL","value":"jdoe@gmail.com"}],"gilligan-enabled":"true","fullName":"John
        Doe","languageCode":"en-us","appleId":"jdoe@gmail.com","firstName":"John","iCloudAppleIdAlias":"jdoe@icloud.com","notesMigrated":true,"hasPaymentInfo":true,"pcsDeleted":false,"appleIdAlias":"","brMigrated":true,"statusCode":2},"hasMinimumDeviceForPhotosWeb":true,"iCDPEnabled":false,"webservices":{"reminders":{"url":"https://p10-remindersws.icloud.com:443","status":"active"},"notes":{"url":"https://p10-notesws.icloud.com:443","status":"active"},"mail":{"url":"https://p10-mailws.icloud.com:443","status":"active"},"ckdatabasews":{"pcsRequired":true,"url":"https://p10-ckdatabasews.icloud.com:443","status":"active"},"photosupload":{"pcsRequired":true,"url":"https://p10-uploadphotosws.icloud.com:443","status":"active"},"photos":{"pcsRequired":true,"uploadUrl":"https://p10-uploadphotosws.icloud.com:443","url":"https://p10-photosws.icloud.com:443","status":"active"},"drivews":{"pcsRequired":true,"url":"https://p10-drivews.icloud.com:443","status":"active"},"uploadimagews":{"url":"https://p10-uploadimagews.icloud.com:443","status":"active"},"schoolwork":{},"cksharews":{"url":"https://p10-ckshare.icloud.com:443","status":"active"},"findme":{"url":"https://p10-fmipweb.icloud.com:443","status":"active"},"ckdeviceservice":{"url":"https://p10-ckdevice.icloud.com:443"},"iworkthumbnailws":{"url":"https://p10-iworkthumbnailws.icloud.com:443","status":"active"},"calendar":{"url":"https://p10-calendarws.icloud.com:443","status":"active"},"docws":{"pcsRequired":true,"url":"https://p10-docws.icloud.com:443","status":"active"},"settings":{"url":"https://p10-settingsws.icloud.com:443","status":"active"},"ubiquity":{"url":"https://p10-ubiquityws.icloud.com:443","status":"active"},"streams":{"url":"https://p10-streams.icloud.com:443","status":"active"},"keyvalue":{"url":"https://p10-keyvalueservice.icloud.com:443","status":"active"},"archivews":{"url":"https://p10-archivews.icloud.com:443","status":"active"},"push":{"url":"https://p10-pushws.icloud.com:443","status":"active"},"iwmb":{"url":"https://p10-iwmb.icloud.com:443","status":"active"},"iworkexportws":{"url":"https://p10-iworkexportws.icloud.com:443","status":"active"},"geows":{"url":"https://p10-geows.icloud.com:443","status":"active"},"account":{"iCloudEnv":{"shortId":"p","vipSuffix":"p"},"url":"https://p10-setup.icloud.com:443","status":"active"},"fmf":{"url":"https://p10-fmfweb.icloud.com:443","status":"active"},"contacts":{"url":"https://p10-contactsws.icloud.com:443","status":"active"}},"pcsEnabled":true,"configBag":{"urls":{"accountCreateUI":"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!create","accountLoginUI":"https://idmsa.apple.com/appleauth/auth/signin?widgetKey=83545bf919730e51dbfba24e7e8a78d2","accountLogin":"https://setup.icloud.com/setup/ws/1/accountLogin","accountRepairUI":"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!repair","downloadICloudTerms":"https://setup.icloud.com/setup/ws/1/downloadLiteTerms","repairDone":"https://setup.icloud.com/setup/ws/1/repairDone","vettingUrlForEmail":"https://id.apple.com/IDMSEmailVetting/vetShareEmail","accountCreate":"https://setup.icloud.com/setup/ws/1/createLiteAccount","getICloudTerms":"https://setup.icloud.com/setup/ws/1/getTerms","vettingUrlForPhone":"https://id.apple.com/IDMSEmailVetting/vetSharePhone"},"accountCreateEnabled":"true"},"hsaTrustedBrowser":false,"appsOrder":["mail","contacts","calendar","photos","iclouddrive","notes2","reminders","pages","numbers","keynote","newspublisher","fmf","find","settings"],"version":2,"isExtendedLogin":false,"pcsServiceIdentitiesIncluded":false,"hsaChallengeRequired":true,"requestInfo":{"country":"TH","timeZone":"GMT+7"},"pcsDeleted":false,"iCloudInfo":{"SafariBookmarksHasMigratedToCloudKit":false},"apps":{"calendar":{},"reminders":{},"keynote":{"isQualifiedForBeta":true},"settings":{"canLaunchWithOneFactor":true},"mail":{},"numbers":{"isQualifiedForBeta":true},"photos":{},"pages":{"isQualifiedForBeta":true},"find":{"canLaunchWithOneFactor":true},"notes2":{},"iclouddrive":{},"newspublisher":{"isHidden":true},"fmf":{},"contacts":{}}}'}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-Jingle-Correlation-Key: [VNV7VU7BCBAU7G7ACJPP6JHPVY]
      X-Apple-Request-UUID: [ab6bfad3-e110-414f-9be0-125eff24efae]
      X-Responding-Instance: ['setupservice:11700403:st13p17ic-setupsvc004:8003:1813B80:3b85e7d76']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://setup.icloud.com/setup/ws/1/listDevices?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146
  response:
    body: {string: '{"devices":[{"deviceType":"SMS","areaCode":"","phoneNumber":"*******03","deviceId":"1"}]}'}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-Jingle-Correlation-Key: [HZN37F7FIVEQLMEB62ZL7MRV4Y]
      X-Apple-Request-UUID: [3e5bbf97-e545-4905-b081-f6b2bfb235e6]
      X-Responding-Instance: ['setupservice:21800401:nk11p18ic-setupsvc004:8001:1813B80:3b85e7d76']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
- request:
    body: '{"deviceType": "SMS", "areaCode": "", "phoneNumber": "*******03", "deviceId":
      "1"}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/sendVerificationCode?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146
  response:
    body: {string: '{"success":true}'}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-Jingle-Correlation-Key: [CWUBPOMXINCETCSF3QVGN44BR4]
      X-Apple-Request-UUID: [15a817b9-9743-4449-8a45-dc2a66f3818f]
      X-Responding-Instance: ['setupservice:34400103:mr26p44ic-tydg07122301:8003:1813B80:3b85e7d76']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
- request:
    body: '{"verificationCode": "901431", "trustBrowser": true}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/validateVerificationCode?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146
  response:
    body: {string: '{"success":false,"errorTitle":"Invalid Code","errorMessage":"The
        code you entered is not valid.","errorCode":-21669}'}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-Jingle-Correlation-Key: [ZXDIZFYF7VC2VFMSYPEOKPT6CM]
      X-Apple-Request-UUID: [cdc68c97-05fd-45aa-9592-c3c8e53e7e13]
      X-Responding-Instance: ['setupservice:34600403:mr25p46ic-tydg01141201:8003:1813B80:3b85e7d76']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
version: 1
