interactions:
- request:
    body: '{"apple_id": "jdoe@gmail.com", "password": "password1", "extended_login":
      false}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/login?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321
  response:
    body: {string: '{"dsInfo":{"lastName":"Doe","iCDPEnabled":false,"dsid":"185776146","hsaEnabled":true,"ironcadeMigrated":true,"locale":"en-us_US","brZoneConsolidated":false,"isManagedAppleID":false,"gilligan-invited":"true","appleIdAliases":["jdoe@icloud.com"],"hsaVersion":2,"isPaidDeveloper":true,"countryCode":"USA","notificationId":"4f06bcc3-7f45-4661-a159-337fb352c234","primaryEmailVerified":true,"aDsID":"001640-05-8c09a45f-3769-4206-a0c2-d88f3b815680","locked":false,"hasICloudQualifyingDevice":true,"primaryEmail":"jdoe@gmail.com","appleIdEntries":[{"isPrimary":true,"type":"EMAIL","value":"jdoe@gmail.com"}],"gilligan-enabled":"true","fullName":"John
        Doe","languageCode":"en-us","appleId":"jdoe@gmail.com","firstName":"John","iCloudAppleIdAlias":"jdoe@icloud.com","notesMigrated":true,"hasPaymentInfo":true,"pcsDeleted":false,"appleIdAlias":"","brMigrated":true,"statusCode":2},"hasMinimumDeviceForPhotosWeb":true,"iCDPEnabled":false,"webservices":{"reminders":{"url":"https://p10-remindersws.icloud.com:443","status":"active"},"notes":{"url":"https://p10-notesws.icloud.com:443","status":"active"},"mail":{"url":"https://p10-mailws.icloud.com:443","status":"active"},"ckdatabasews":{"pcsRequired":true,"url":"https://p10-ckdatabasews.icloud.com:443","status":"active"},"photosupload":{"pcsRequired":true,"url":"https://p10-uploadphotosws.icloud.com:443","status":"active"},"photos":{"pcsRequired":true,"uploadUrl":"https://p10-uploadphotosws.icloud.com:443","url":"https://p10-photosws.icloud.com:443","status":"active"},"drivews":{"pcsRequired":true,"url":"https://p10-drivews.icloud.com:443","status":"active"},"uploadimagews":{"url":"https://p10-uploadimagews.icloud.com:443","status":"active"},"schoolwork":{},"cksharews":{"url":"https://p10-ckshare.icloud.com:443","status":"active"},"findme":{"url":"https://p10-fmipweb.icloud.com:443","status":"active"},"ckdeviceservice":{"url":"https://p10-ckdevice.icloud.com:443"},"iworkthumbnailws":{"url":"https://p10-iworkthumbnailws.icloud.com:443","status":"active"},"calendar":{"url":"https://p10-calendarws.icloud.com:443","status":"active"},"docws":{"pcsRequired":true,"url":"https://p10-docws.icloud.com:443","status":"active"},"settings":{"url":"https://p10-settingsws.icloud.com:443","status":"active"},"ubiquity":{"url":"https://p10-ubiquityws.icloud.com:443","status":"active"},"streams":{"url":"https://p10-streams.icloud.com:443","status":"active"},"keyvalue":{"url":"https://p10-keyvalueservice.icloud.com:443","status":"active"},"archivews":{"url":"https://p10-archivews.icloud.com:443","status":"active"},"push":{"url":"https://p10-pushws.icloud.com:443","status":"active"},"iwmb":{"url":"https://p10-iwmb.icloud.com:443","status":"active"},"iworkexportws":{"url":"https://p10-iworkexportws.icloud.com:443","status":"active"},"geows":{"url":"https://p10-geows.icloud.com:443","status":"active"},"account":{"iCloudEnv":{"shortId":"p","vipSuffix":"p"},"url":"https://p10-setup.icloud.com:443","status":"active"},"fmf":{"url":"https://p10-fmfweb.icloud.com:443","status":"active"},"contacts":{"url":"https://p10-contactsws.icloud.com:443","status":"active"}},"pcsEnabled":true,"configBag":{"urls":{"accountCreateUI":"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!create","accountLoginUI":"https://idmsa.apple.com/appleauth/auth/signin?widgetKey=83545bf919730e51dbfba24e7e8a78d2","accountLogin":"https://setup.icloud.com/setup/ws/1/accountLogin","accountRepairUI":"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!repair","downloadICloudTerms":"https://setup.icloud.com/setup/ws/1/downloadLiteTerms","repairDone":"https://setup.icloud.com/setup/ws/1/repairDone","vettingUrlForEmail":"https://id.apple.com/IDMSEmailVetting/vetShareEmail","accountCreate":"https://setup.icloud.com/setup/ws/1/createLiteAccount","getICloudTerms":"https://setup.icloud.com/setup/ws/1/getTerms","vettingUrlForPhone":"https://id.apple.com/IDMSEmailVetting/vetSharePhone"},"accountCreateEnabled":"true"},"hsaTrustedBrowser":false,"appsOrder":["mail","contacts","calendar","photos","iclouddrive","notes2","reminders","pages","numbers","keynote","newspublisher","fmf","find","settings"],"version":2,"isExtendedLogin":false,"pcsServiceIdentitiesIncluded":false,"hsaChallengeRequired":true,"requestInfo":{"country":"TH","timeZone":"GMT+7"},"pcsDeleted":false,"iCloudInfo":{"SafariBookmarksHasMigratedToCloudKit":false},"apps":{"calendar":{},"reminders":{},"keynote":{"isQualifiedForBeta":true},"settings":{"canLaunchWithOneFactor":true},"mail":{},"numbers":{"isQualifiedForBeta":true},"photos":{},"pages":{"isQualifiedForBeta":true},"find":{"canLaunchWithOneFactor":true},"notes2":{},"iclouddrive":{},"newspublisher":{"isHidden":true},"fmf":{},"contacts":{}}}'}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-Jingle-Correlation-Key: [J4DLZQ37IVDGDIKZGN73GUWCGQ]
      X-Apple-Request-UUID: [4f06bcc3-7f45-4661-a159-337fb352c234]
      X-Responding-Instance: ['setupservice:44100101:pv38p41ic-ztdg01053001:8001:1813B80:3b85e7d76']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://setup.icloud.com/setup/ws/1/listDevices?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146
  response:
    body: {string: '{"devices":[{"deviceType":"SMS","areaCode":"","phoneNumber":"*******03","deviceId":"1"}]}'}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-Jingle-Correlation-Key: [Y3234LUKWBGHFOEWHIOBXY76QE]
      X-Apple-Request-UUID: [c6f5be2e-8ab0-4c72-b896-3a1c1be3fe81]
      X-Responding-Instance: ['setupservice:12300401:st14p23ic-ztav021114:8001:1813B80:3b85e7d76']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
- request:
    body: '{"deviceType": "SMS", "areaCode": "", "phoneNumber": "*******03", "deviceId":
      "1"}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/sendVerificationCode?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146
  response:
    body: {string: '{"success":true}'}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-Jingle-Correlation-Key: [BGQ75V27ZRGD7HMEQGPUNEDUDI]
      X-Apple-Request-UUID: [09a1fed7-5fcc-4c3f-9d84-819f4690741a]
      X-Responding-Instance: ['setupservice:11300201:st13p13ic-setupsvc002:8001:1813B80:3b85e7d76']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
- request:
    body: '{"deviceType": "SMS", "areaCode": "", "phoneNumber": "*******03", "deviceId":
      "1", "verificationCode": "123456", "trustBrowser": true}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/validateVerificationCode?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146
  response:
    body: {string: '{"success":true}'}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-Jingle-Correlation-Key: [YZO2CIALNBEG5HEFJDLX7T5BIM]
      X-Apple-Request-UUID: [c65da120-0b68-486e-9c85-48d77fcfa143]
      X-Responding-Instance: ['setupservice:12300101:st14p23ic-ztav021111:8001:1813B80:3b85e7d76']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
- request:
    body: '{"apple_id": "jdoe@gmail.com", "password": "password1", "extended_login":
      false}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/login?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146
  response:
    body: {string: '{"dsInfo":{"lastName":"Doe","iCDPEnabled":false,"dsid":"185776146","hsaEnabled":true,"ironcadeMigrated"[...]
- request:
    body: '{"query":{"recordType":"CheckIndexingState"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type: [text/plain]
    method: POST
    uri: https://p10-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146&remapEnums=True&getCurrentSyncToken=True
  response:
    body: {string: "{\n  \"records\" : [ {\n    \"recordName\" : \"_e53446cf-3885-4cd3-8f12-648289d79769\",\n
        \   \"recordType\" : \"CheckIndexingState\",\n    \"fields\" : {\n      \"progress\"
        : {\n        \"value\" : 100,\n        \"type\" : \"INT64\"\n      },\n      \"state\"
        : {\n        \"value\" : \"FINISHED\",\n        \"type\" : \"STRING\"\n      }\n
        \   },\n    \"pluginFields\" : { },\n    \"recordChangeTag\" : \"0\",\n    \"created\"
        : {\n      \"timestamp\" : 1533038368535,\n      \"userRecordName\" : \"_10\",\n
        \     \"deviceID\" : \"1\"\n    },\n    \"modified\" : {\n      \"timestamp\"
        : 1533038368535,\n      \"userRecordName\" : \"_10\",\n      \"deviceID\"
        : \"1\"\n    },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\"
        : \"PrimarySync\",\n      \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\"\n
        \   }\n  } ],\n  \"syncToken\" : \"AQAAAAAAAwmVf//////////Kd+LphRdKGbpJMSeRX5Td\"\n}"}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-CloudKit-Version: ['1.0']
      X-Apple-Request-UUID: [9ca52f84-cef3-4818-8beb-9ad71d062730]
      X-Responding-Instance: ['ckdatabasews:21002602:nk11p10me-ztbu40074301:8202:1813B216:nocommit']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p10-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/zones/list
  response:
    body:
      string: "{\n  \"moreComing\" : false,\n  \"syncToken\" : \"AQAAAAAAAwmVf//////////Kd+LphRdKGbpJMSeRX5Td\",\n
        \ \"zones\" : [ {\n    \"zoneID\" : {\n      \"zoneName\" : \"PrimarySync\",\n
        \     \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\",\n      \"zoneType\"
        : \"REGULAR_CUSTOM_ZONE\"\n    }\n  } ]\n}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Edge-Response-Time:
      - '195'
      X-Apple-Request-UUID:
      - 34046027-8226-46f7-9960-4b0839c08b82
      X-Responding-Instance:
      - ckdatabasews:966835083:prod-p121-ckdatabasews-100percent-79bfc6b95d-klrcc:8080:2322B333:13811c3d707a78576fcc7f8962567af12bdfeeb4
      x-apple-user-partition:
      - '121'
    status:
      code: 200
      message: OK

[...]
- request:
    body: '{"query":{"recordType":"CPLAlbumByPositionLive"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type: [text/plain]
    method: POST
    uri: https://p10-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146&remapEnums=True&getCurrentSyncToken=True
  response:
    body: {string: "{\n  \"records\" : [ {\n    \"recordName\" : \"----Root-Folder----\",\n
        \   \"recordType\" : \"CPLAlbum\",\n    \"fields\" : {\n      \"recordModificationDate\"
        : {\n        \"value\" : 1502811072713,\n        \"type\" : \"TIMESTAMP\"\n
        \     },\n      \"sortAscending\" : {\n        \"value\" : 1,\n        \"type\"
        : \"INT64\"\n      },\n      \"sortType\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"albumType\" : {\n        \"value\" : 3,\n        \"type\"
        : \"INT64\"\n      },\n      \"position\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"sortTypeExt\" : {\n        \"value\" : 0,\n
        \       \"type\" : \"INT64\"\n      }\n    },\n    \"pluginFields\" : { },\n
        \   \"recordChangeTag\" : \"30lo\",\n    \"created\" : {\n      \"timestamp\"
        : 1428915378515,\n      \"userRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\",\n
        \     \"deviceID\" : \"B754B9A67703DE8C1B3BF0E24018BD526DFF881059787CE46B043F168266FA38\"\n
        \   },\n    \"modified\" : {\n      \"timestamp\" : 1502811092910,\n      \"userRecordName\"
        : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\",\n      \"deviceID\" : \"9DD832CBD916B81F61073DFC925ADA027CFA1477B567B104010F1107DFEC1367\"\n
        \   },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\" :
        \"PrimarySync\",\n      \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\"\n
        \   }\n  }, {\n    \"recordName\" : \"402BB76C-1CC8-4CAC-BFC0-61D14E47CBFD\",\n
        \   \"recordType\" : \"CPLAlbum\",\n    \"fields\" : {\n      \"recordModificationDate\"
        : {\n        \"value\" : 1514538116387,\n        \"type\" : \"TIMESTAMP\"\n
        \     },\n      \"sortAscending\" : {\n        \"value\" : 1,\n        \"type\"
        : \"INT64\"\n      },\n      \"sortType\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"albumType\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"albumNameEnc\" : {\n        \"value\" : \"QkxEIENhZmU=\",\n
        \       \"type\" : \"ENCRYPTED_BYTES\"\n      },\n      \"position\" : {\n
        \       \"value\" : 311,\n        \"type\" : \"INT64\"\n      },\n      \"sortTypeExt\"
        : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\n      }\n    },\n
        \   \"pluginFields\" : { },\n    \"recordChangeTag\" : \"3uqj\",\n    \"created\"
        : {\n      \"timestamp\" : 1514538434377,\n      \"userRecordName\" : \"_bfc6dbbcc77b03e6cebef[...]
- request:
    body: '{"batch": [{"resultsLimit": 1, "query": {"filterBy": {"fieldName": "indexCountID",
      "fieldValue": {"type": "STRING_LIST", "value": ["CPLAssetByAddedDate"]}, "comparator":
      "IN"}, "recordType": "HyperionIndexCountLookup"}, "zoneWide": true, "zoneID":
      {"zoneName": "PrimarySync"}}]}'
    headers:
      Content-type: [text/plain]
    method: POST
    uri: https://p10-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/internal/records/query/batch?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=185776146&remapEnums=True&getCurrentSyncToken=True
  response:
    body: {string: "{\n  \"batch\" : [ {\n    \"records\" : [ {\n      \"recordName\"
        : \"CPLAssetByAddedDate\",\n      \"recordType\" : \"IndexCountResult\",\n
        \     \"fields\" : {\n        \"itemCount\" : {\n          \"value\" : 33161,\n
        \         \"type\" : \"INT64\"\n        }\n      },\n      \"pluginFields\"
        : { },\n      \"recordChangeTag\" : \"0\",\n      \"created\" : {\n        \"timestamp\"
        : 1533038459134,\n        \"userRecordName\" : \"_10\",\n        \"deviceID\"
        : \"1\"\n      },\n      \"modified\" : {\n        \"timestamp\" : 1533038459134,\n
        \       \"userRecordName\" : \"_10\",\n        \"deviceID\" : \"1\"\n      },\n
        \     \"deleted\" : false,\n      \"zoneID\" : {\n        \"zoneName\" : \"PrimarySync\",\n
        \       \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\"\n      }\n
        \   } ],\n    \"syncToken\" : \"AQAAAAAAAwmVf//////////Kd+LphRdKGbpJMSeRX5Td\"\n
        \ } ]\n}"}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-CloudKit-Version: ['1.0']
      X-Apple-Request-UUID: [ff2ad98f-eeeb-4951-9c09-2f94c7722d41]
      X-Responding-Instance: ['ckdatabasews:21003001:nk11p10me-ztbu26054201:8201:1813B216:nocommit']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}
version: 1
