interactions:
- request:
    body: !!python/unicode '{"accountName": "jdoe@gmail.com", "password": "password1",
      "rememberMe": true, "trustTokens": []}'
    headers:
      Content-Type: ['application/json']
      X-Apple-OAuth-Client-Id: ['d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d']
      X-Apple-OAuth-Client-Type: ['firstPartyAuth']
      X-Apple-OAuth-Redirect-URI: ['https://www.icloud.com']
      X-Apple-OAuth-Require-Grant-Code: ['true']
      X-Apple-OAuth-Response-Mode: ['web_message']
      X-Apple-OAuth-Response-Type: ['code']
      X-Apple-OAuth-State: ['DE309E26-942E-11E8-92F5-14109FE0B321']
      X-Apple-Widget-Key: ['d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d']
    method: POST
    uri: https://idmsa.apple.com/appleauth/auth/signin?isRememberMeEnabled=true
  response:
    body:
      string: !!python/unicode '{}'
    headers:
      Content-Type: ['text/html;charset=UTF-8']
      Location: ['/auth']
      X-Apple-Auth-Attributes: ['123456789abcdefg']
      X-Apple-I-Request-ID: ['12345678-1234-1234-1234-123456789012']
      X-Apple-I-Rscd: ['409']
      X-Apple-ID-Account-Country: ['USA']
      X-Apple-ID-Session-Id: ['sess-1234567890']
      X-Apple-Session-Token: ['token-1234567890']
      X-Apple-TwoSV-Trust-Eligible: ['true']
      X-BuildVersion: ['R4_1']
      scnt: ['scnt-1234567890']
    status:
      code: 200
      message: ''
- request:
    body: !!python/unicode '{"accountCountryCode": "USA", "dsWebAuthToken": "token-1234567890", "extended_login": true, "trustToken": ""}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/accountLogin
  response:
    body:
      string: !!python/unicode '{"dsInfo": {"lastName":"Doe","iCDPEnabled":false,"tantorMigrated":false,"dsid":"12345678901","hsaEnabled":true,
        "ironcadeMigrated":true,"locale":"en-us_US","brZoneConsolidated":false,"ICDRSCapableDeviceList":"","isManagedAppleID":false,
        "isCustomDomainsFeatureAvailable":true,"isHideMyEmailFeatureAvailable":true,"ContinueOnDeviceEligibleDeviceInfo":[],"gilligan-invited":true,
        "appleIdAliases":[],"hsaVersion":2,"ubiquityEOLEnabled":true,"isPaidDeveloper":false,"countryCode":"USA","notificationId":"12341234-1234-12341234-1234",
        "primaryEmailVerified":true,"aDsID":"123456-12-12345678-1234-1234-1234-123456789012","locked":false,"ICDRSCapableDeviceCount":0,
        "hasICloudQualifyingDevice":true,"primaryEmail":"jdoe@gmail.com","appleIdEntries": [{"isPrimary":true,"type":"EMAIL","value":"jdoe@gmail.com"}],
        "gilligan-enabled":true,"isWebAccessAllowed":true,"fullName":"John Doe","mailFlags":{"isThreadingAvailable":false,"isSearchV2Provisioned":false,
        "rawBits":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
        "isCKMail":false,"isMppSupportedInCurrentCountry":true},"languageCode":"en-us","appleId":"jdoe@gmail.com","analyticsOptInStatus":false,
        "firstName":"john","iCloudAppleIdAlias":"","notesMigrated":true,"beneficiaryInfo":{"isBeneficiary":false},"hasPaymentInfo":true,"pcsDeleted":false,
        "appleIdAlias":"","brMigrated":true,"statusCode":2,"familyEligible":true},"hasMinimumDeviceForPhotosWeb":true,"iCDPEnabled":false,
        "webservices":{"reminders":{"url":"https://p61-remindersws.icloud.com:443","status":"active"},"ckdatabasews":{"pcsRequired":true,
        "url":"https://p61-ckdatabasews.icloud.com:443","status":"active"},"photosupload":{"pcsRequired":true,
        "url":"https://p61-uploadphotosws.icloud.com:443","status":"active"},"photos":{"pcsRequired":true,
        "uploadUrl":"https://p61-uploadphotosws.icloud.com:443","url":"https://p61-photosws.icloud.com:443","status":"active"},"drivews":{"pcsRequired":true,
        "url":"https://p61-drivews.icloud.com:443","status":"active"},"uploadimagews":{"url":"https://p61-uploadimagews.icloud.com:443","status":"active"},
        "schoolwork":{},"cksharews":{"url":"https://p61-ckshare.icloud.com:443","status":"active"},"findme":{"url":"https://p61-fmipweb.icloud.com:443",
        "status":"active"},"ckdeviceservice":{"url":"https://p61-ckdevice.icloud.com:443"},
        "iworkthumbnailws":{"url":"https://p61-iworkthumbnailws.icloud.com:443","status":"active"},
        "mccgateway":{"url":"https://p61-mccgateway.icloud.com:443","status":"active"},"calendar":{"isMakoAccount":false,
        "url":"https://p61-calendarws.icloud.com:443","status":"active"},"docws":{"pcsRequired":true,"url":"https://p61-docws.icloud.com:443",
        "status":"active"},"settings":{"url":"https://p61-settingsws.icloud.com:443","status":"active"},
        "premiummailsettings":{"url":"https://p61-maildomainws.icloud.com:443","status":"active"},"ubiquity":{"url":"https://p61-ubiquityws.icloud.com:443",
        "status":"active"},"keyvalue":{"url":"https://p61-keyvalueservice.icloud.com:443","status":"active"},"mpp":{"url":"https://relay.icloud-mpp.com",
        "status":"active"},"archivews":{"url":"https://p61-archivews.icloud.com:443","status":"active"},"push":{"url":"https://p61-pushws.icloud.com:443",
        "status":"active"},"iwmb":{"url":"https://p61-iwmb.icloud.com:443","status":"active"},
        "iworkexportws":{"url":"https://p61-iworkexportws.icloud.com:443","status":"active"},"sharedlibrary":{"url":"https://sharedlibrary.icloud.com:443",
        "status":"active"},"geows":{"url":"https://p61-geows.icloud.com:443","status":"active"},"account":{"iCloudEnv":{"shortId":"p","vipSuffix":"prod"},
        "url":"https://p61-setup.icloud.com:443","status":"active"},"contacts":{"url":"https://p61-contactsws.icloud.com:443","status":"active"},
        "developerapi":{"url":"https://developer-api.icloud.com:443","status":"active"}},"pcsEnabled":true,
        "configBag":{"urls":{"accountCreateUI":"https://appleid.apple.com/widget/account/?widgetKey=#!create",
        "accountLoginUI":"https://idmsa.apple.com/appleauth/auth/signin?widgetKey=","accountLogin":"https://setup.icloud.com/setup/ws/1/accountLogin",
        "accountRepairUI":"https://appleid.apple.com/widget/account/?widgetKey=#!repair",
        "downloadICloudTerms":"https://setup.icloud.com/setup/ws/1/downloadLiteTerms","repairDone":"https://setup.icloud.com/setup/ws/1/repairDone",
        "accountAuthorizeUI":"https://idmsa.apple.com/appleauth/auth/authorize/signin?client_id=",
        "vettingUrlForEmail":"https://id.apple.com/IDMSEmailVetting/vetShareEmail","accountCreate":"https://setup.icloud.com/setup/ws/1/createLiteAccount",
        "getICloudTerms":"https://setup.icloud.com/setup/ws/1/getTerms","vettingUrlForPhone":"https://id.apple.com/IDMSEmailVetting/vetSharePhone"},
        "accountCreateEnabled":true},"hsaTrustedBrowser":true,"appsOrder":["mail","contacts","calendar","photos","iclouddrive","notes3","reminders",
        "pages","numbers","keynote","newspublisher","find","settings"],"version":2,"isExtendedLogin":true,"pcsServiceIdentitiesIncluded":false,
        "hsaChallengeRequired":false,"requestInfo":{"country":"US","timeZone":"EST","region":"NC"},"pcsDeleted":false,
        "iCloudInfo":{"SafariBookmarksHasMigratedToCloudKit":false},"apps":{"calendar":{},"reminders":{},"keynote":{"isQualifiedForBeta":true},
        "settings":{"canLaunchWithOneFactor":true},"mail":{},"numbers":{"isQualifiedForBeta":true},"photos":{},"pages":{"isQualifiedForBeta":true},
        "notes3":{},"find":{"canLaunchWithOneFactor":true},"iclouddrive":{},"newspublisher":{"isHidden":true},"contacts":{}}}'
    headers:
      Content-Type: ['application/json; charset=UTF-8']
      X-Apple-Edge-Response-Time: ['501']
      X-Apple-Request-UUID: ['12345678-1234-1234-1234-123456789012']
      X-Responding-Instance: ['setupservice:33200401:mr55p32ic-qukt01202301:7001:2404B363:5934c9004de5']
      x-apple-user-partition: ['32']
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/zones/list
  response:
    body:
      string: "{\n  \"moreComing\" : false,\n  \"syncToken\" : \"AQAAAAAAAwmVf//////////Kd+LphRdKGbpJMSeRX5Td\",\n
        \ \"zones\" : [ {\n    \"zoneID\" : {\n      \"zoneName\" : \"PrimarySync\",\n
        \     \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\",\n      \"zoneType\"
        : \"REGULAR_CUSTOM_ZONE\"\n    }\n  } ]\n}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Edge-Response-Time:
      - '195'
      X-Apple-Request-UUID:
      - 34046027-8226-46f7-9960-4b0839c08b82
      X-Responding-Instance:
      - ckdatabasews:966835083:prod-p121-ckdatabasews-100percent-79bfc6b95d-klrcc:8080:2322B333:13811c3d707a78576fcc7f8962567af12bdfeeb4
      x-apple-user-partition:
      - '121'
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"recordType":"CheckIndexingState"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=12345678901&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"records\" : [ {\n    \"recordName\" : \"_fe308b25-76d6-4760-b583-5280f5726844\",\n
        \   \"recordType\" : \"CheckIndexingState\",\n    \"fields\" : {\n      \"progress\"
        : {\n        \"value\" : 100,\n        \"type\" : \"INT64\"\n      },\n      \"state\"
        : {\n        \"value\" : \"FINISHED\",\n        \"type\" : \"STRING\"\n      }\n
        \   },\n    \"pluginFields\" : { },\n    \"recordChangeTag\" : \"0\",\n    \"created\"
        : {\n      \"timestamp\" : 1533068993436,\n      \"userRecordName\" : \"_10\",\n
        \     \"deviceID\" : \"1\"\n    },\n    \"modified\" : {\n      \"timestamp\"
        : 1533068993436,\n      \"userRecordName\" : \"_10\",\n      \"deviceID\"
        : \"1\"\n    },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\"
        : \"PrimarySync\",\n      \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\"\n
        \   }\n  } ],\n  \"syncToken\" : \"AQAAAAAAAwmVf//////////Kd+LphRdKGbpJMSeRX5Td\"\n}"
    headers:
      Apple-Originating-System:
      - UnknownOriginatingSystem
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Request-UUID:
      - e7963a5e-1a37-4732-8e46-914cddd30bb7
      X-Responding-Instance:
      - ckdatabasews:21003601:nk11p10me-ztbu22071801:8201:1813B216:nocommit
      apple-seq:
      - '0'
      apple-tk:
      - 'false'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query":{"recordType":"CPLAlbumByPositionLive"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=12345678901&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"records\" : [ {\n    \"recordName\" : \"----Root-Folder----\",\n
        \   \"recordType\" : \"CPLAlbum\",\n    \"fields\" : {\n      \"recordModificationDate\"
        : {\n        \"value\" : 1502811072713,\n        \"type\" : \"TIMESTAMP\"\n
        \     },\n      \"sortAscending\" : {\n        \"value\" : 1,\n        \"type\"
        : \"INT64\"\n      },\n      \"sortType\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"albumType\" : {\n        \"value\" : 3,\n        \"type\"
        : \"INT64\"\n      },\n      \"position\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"sortTypeExt\" : {\n        \"value\" : 0,\n
        \       \"type\" : \"INT64\"\n      }\n    },\n    \"pluginFields\" : { },\n
        \   \"recordChangeTag\" : \"30lo\",\n    \"created\" : {\n      \"timestamp\"
        : 1428915378515,\n      \"userRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\",\n
        \     \"deviceID\" : \"B754B9A67703DE8C1B3BF0E24018BD526DFF881059787CE46B043F168266FA38\"\n
        \   },\n    \"modified\" : {\n      \"timestamp\" : 1502811092910,\n      \"userRecordName\"
        : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\",\n      \"deviceID\" : \"9DD832CBD916B81F61073DFC925ADA027CFA1477B567B104010F1107DFEC1367\"\n
        \   },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\" :
        \"PrimarySync\",\n      \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\"\n
        \   }\n  }, {\n    \"recordName\" : \"402BB76C-1CC8-4CAC-BFC0-61D14E47CBFD\",\n
        \   \"recordType\" : \"CPLAlbum\",\n    \"fields\" : {\n      \"recordModificationDate\"
        : {\n        \"value\" : 1514538116387,\n        \"type\" : \"TIMESTAMP\"\n
        \     },\n      \"sortAscending\" : {\n        \"value\" : 1,\n        \"type\"
        : \"INT64\"\n      },\n      \"sortType\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"albumType\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"albumNameEnc\" : {\n        \"value\" : \"QkxEIENhZmU=\",\n
        \       \"type\" : \"ENCRYPTED_BYTES\"\n      },\n      \"position\" : {\n
        \       \"value\" : 311,\n        \"type\" : \"INT64\"\n      },\n      \"sortTypeExt\"
        : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\n      }\n    },\n
        \   \"pluginFields\" : { },\n    \"recordChangeTag\" : \"3uqj\",\n    \"created\"
        : {\n      \"timestamp\" : 1514538434377,\n      \"userRecordName\" : \"_bfc6dbbcc77b03e6cebef[...]
- request:
    body: '{"batch": [{"resultsLimit": 1, "query": {"filterBy": {"fieldName": "indexCountID",
      "fieldValue": {"type": "STRING_LIST", "value": ["CPLAssetByAddedDate"]}, "comparator":
      "IN"}, "recordType": "HyperionIndexCountLookup"}, "zoneWide": true, "zoneID":
      {"zoneName": "PrimarySync"}}]}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/internal/records/query/batch?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=12345678901&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"batch\" : [ {\n    \"records\" : [ {\n      \"recordName\" :
        \"CPLAssetByAddedDate\",\n      \"recordType\" : \"IndexCountResult\",\n      \"fields\"
        : {\n        \"itemCount\" : {\n          \"value\" : 33161,\n          \"type\"
        : \"INT64\"\n        }\n      },\n      \"pluginFields\" : { },\n      \"recordChangeTag\"
        : \"0\",\n      \"created\" : {\n        \"timestamp\" : 1533068994667,\n
        \       \"userRecordName\" : \"_10\",\n        \"deviceID\" : \"1\"\n      },\n
        \     \"modified\" : {\n        \"timestamp\" : 1533068994667,\n        \"userRecordName\"
        : \"_10\",\n        \"deviceID\" : \"1\"\n      },\n      \"deleted\" : false,\n
        \     \"zoneID\" : {\n        \"zoneName\" : \"PrimarySync\",\n        \"ownerRecordName\"
        : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\"\n      }\n    } ],\n    \"syncToken\"
        : \"AQAAAAAAAwmVf//////////Kd+LphRdKGbpJMSeRX5Td\"\n  } ]\n}"
    headers:
      Apple-Originating-System:
      - UnknownOriginatingSystem
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Request-UUID:
      - 50e218e1-4394-4bf9-900e-687549ab3fc4
      X-Responding-Instance:
      - ckdatabasews:21000501:nk11p10me-ztbu05054001:8201:1813B216:nocommit
      apple-seq:
      - '0'
      apple-tk:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"filterBy": [{"fieldName": "startRank", "fieldValue": {"type":
      "INT64", "value": 0}, "comparator": "EQUALS"}, {"fieldName": "direction", "fieldValue":
      {"type": "STRING", "value": "ASCENDING"}, "comparator": "EQUALS"}], "recordType":
      "CPLAssetAndMasterDeletedByExpungedDate"}, "resultsLimit": 200, "desiredKeys":
      ["resJPEGFullWidth", "resJPEGFullHeight", "resJPEGFullFileType", "resJPEGFullFingerprint",
      "resJPEGFullRes", "resJPEGLargeWidth", "resJPEGLargeHeight", "resJPEGLargeFileType",
      "resJPEGLargeFingerprint", "resJPEGLargeRes", "resJPEGMedWidth", "resJPEGMedHeight",
      "resJPEGMedFileType", "resJPEGMedFingerprint", "resJPEGMedRes", "resJPEGThumbWidth",
      "resJPEGThumbHeight", "resJPEGThumbFileType", "resJPEGThumbFingerprint", "resJPEGThumbRes",
      "resVidFullWidth", "resVi[...]
[...]
- request:
    body: '{}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/zones/list
  response:
    body:
      string: '{"reason":"Invalid global session","error":2}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-Edge-Response-Time:
      - '392'
      X-Apple-Request-UUID:
      - 6116d0cb-bae3-491d-9945-17caa8950573
      X-Responding-Instance:
      - ckdatabasews:10900201:st11p09me-ztbu17131601:8201:2322B333:13811c3d707a78576fcc7f8962567af12bdfeeb4
      x-apple-user-partition:
      - '9'
    status:
      code: 421
      message: Misdirected Request
[...]
- request:
    body: '{"accountName": "jdoe@gmail.com", "password": "password1", "rememberMe":
      true, "trustTokens": []}'
    headers:
      Content-Type:
      - application/json
      X-Apple-OAuth-Client-Id:
      - d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d
      X-Apple-OAuth-Client-Type:
      - firstPartyAuth
      X-Apple-OAuth-Redirect-URI:
      - https://www.icloud.com
      X-Apple-OAuth-Require-Grant-Code:
      - 'true'
      X-Apple-OAuth-Response-Mode:
      - web_message
      X-Apple-OAuth-Response-Type:
      - code
      X-Apple-OAuth-State:
      - DE309E26-942E-11E8-92F5-14109FE0B321
      X-Apple-Widget-Key:
      - d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d
      scnt:
      - AAAA-kM0RjhEQkQ2M0ZEQTZFNzA3RUMwNERDOEM1QzU0QTUxRDEwQ0I1RTZGQzUwMUE4RDU0ODE4NDM1NkFCQzI1N0MxMUQ4RjE1Q0RDMjFEODlBM0FEMzdBMzgyNTMzNDIyMUU4N0M4MTUxMDgwM0E4NDZGNUM4MzZGRkVGQkJDQzM1NUJGNzA2QTg0RTgzQTIxNDFFNTMxOTZFMDU1QUQxQ0I5Q0I2RUIyOTRGMkUyMjYzMzAzNjMyRUVENTgyNDhCMTFBNTU0QzYwRTZEQUJBQ0IwQjYwMzE1MTNDM0YxOUMzRkY4OTk3QUQ2NDE0NjA2OXwxAAABjFKqRRrj_PzP2B1vON1S9Ew5AjJ3zktIxxOaplpZfDsXTWpCDvj8cMWEfMMRABJMmY8EsJN1jNyDHQ_xhefd_7XZhOFtcytP6ykt_0EkugtwQeKH7w
    method: POST
    uri: https://idmsa.apple.com/appleauth/auth/signin?isRememberMeEnabled=true
  response:
    body:
      string: "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n
        \n\n\n\n\n\n\n<!DOCTYPE html>\n\n    \n    \n        <html dir=\"ltr\" data-rtl=\"\"
        lang=\"en\">\n    \n\n<head>\n    <title></title>\n    <meta name=\"robots\"
        content=\"noindex\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1\">\n    \n        \n            \n\n\n\n
        \   \n    \n    \n    \n    \n    \n    \n\n<link rel=\"stylesheet\"  href=\"https://www.apple.com/wss/fonts?families=SF+Pro,v3|SF+Pro+Icons,v3\"
        type=\"text/css\"/>\n\n\n        \n    \n    \n  \n  \n    \n      \n      \n
        \       \n          \n          \n          \n            <link rel=\"stylesheet\"
        type=\"text/css\" media=\"screen\" href=\"https://appleid.cdn-apple.com/appleauth/static/cssj/699344455/widget/auth/app.css\"
        />\n\n          \n        \n      \n    \n  \n\n    \n        \n        \n
        \           <script type=\"text/javascript\" src=\"https://appleid.cdn-apple.com/appleauth/static/jsj/N1736034082/common-header.js\"
        ></script>\n\n        \n    \n\n    \n</head>\n\n<body class=\"tk-body \">\n<div
        aria-hidden=\"true\" style='font-family:\"SF Pro Icons\"; width: 0px; height:
        0px; color: transparent;'>.</div>\n<div aria-hidden=\"true\" style='font-family:\"SF
        Pro Display\"; width: 0px; height: 0px; color: transparent;'>.</div>\n<div
        class=\"si-body si-container container-fluid\" id=\"content\" role=\"main\">\n</div>\n\n\n
        \   \n    \n    \n    \n    \n\n    \n  <script type=\"text/stache\" id=\"jstache_1362906154\">\n
        \   \n          \n          \n          \n          \n          \n          <div
        class=\"graphite-icon {{symbolName}} {{symbolType}}{{#if wrapperClasses}}
        {{wrapperClasses}}{{/if}}\" aria-live=\"assertive\">\n    {{#is symbolName
        \"arrow-left-circle\"}}\n      <svg id=\"arrowLeftCircle\" data-name=\"arrow-left-circle\"
        xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 110 110\"><g id=\"Semibold-M\"><path
        d=\"M55,106.05A51.33,51.33,0,0,0,106,55,51.32,51.32,0,0,0,55,4a51.05,51.05,0,0,0,0,102.1Zm0-11.47A39.58,39.58,0,1,1,94.6,55,39.45,39.45,0,0,1,55,94.58ZM29.71,55a5.3,5.3,0,0,0,1.8,4L48.16,75.14a4.32,4.32,0,0,0,3.28,1.32,4.19,4.19,0,0,0,4.24-4.39,4.36,4.36,0,0,0-1.41-3.28l-5.76-5.37-5.18-4,9.77.49H75.7a4.94,4.94,0,0,0,0-9.87H53.1l-9.77.49,5.[...]
- request:
    body: '{"accountCountryCode": null, "dsWebAuthToken": null, "extended_login":
      true, "trustToken": ""}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/accountLogin
  response:
    body:
      string: '{"success":false,"error":"Missing apple_id field"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-Edge-Response-Time:
      - '13'
      X-Apple-Request-UUID:
      - fa36221d-aacf-49f5-872b-d31537200441
      X-Responding-Instance:
      - setupservice:32600303:mr55p26ic-qukt01181701:8003:2404B363:5934c9004de5
      x-apple-user-partition:
      - '26'
    status:
      code: 400
      message: Bad Request
version: 1
