interactions:
- request:
    body: 'null'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/validate
  response:
    body:
      string: !!python/unicode '{"dsInfo": {"lastName":"Doe","iCDPEnabled":false,"tantorMigrated":false,"dsid":"12345678901","hsaEnabled":true,
        "ironcadeMigrated":true,"locale":"en-us_US","brZoneConsolidated":false,"ICDRSCapableDeviceList":"","isManagedAppleID":false,
        "isCustomDomainsFeatureAvailable":true,"isHideMyEmailFeatureAvailable":true,"ContinueOnDeviceEligibleDeviceInfo":[],"gilligan-invited":true,
        "appleIdAliases":[],"hsaVersion":1,"ubiquityEOLEnabled":true,"isPaidDeveloper":false,"countryCode":"USA","notificationId":"12341234-1234-12341234-1234",
        "primaryEmailVerified":true,"aDsID":"123456-12-12345678-1234-1234-1234-123456789012","locked":false,"ICDRSCapableDeviceCount":0,
        "hasICloudQualifyingDevice":false,"primaryEmail":"jdoe@gmail.com","appleIdEntries": [{"isPrimary":true,"type":"EMAIL","value":"jdoe@gmail.com"}],
        "gilligan-enabled":true,"isWebAccessAllowed":true,"fullName":"John Doe","mailFlags":{"isThreadingAvailable":false,"isSearchV2Provisioned":false,
        "rawBits":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
        "isCKMail":false,"isMppSupportedInCurrentCountry":true},"languageCode":"en-us","appleId":"jdoe@gmail.com","analyticsOptInStatus":false,
        "firstName":"john","iCloudAppleIdAlias":"","notesMigrated":true,"beneficiaryInfo":{"isBeneficiary":false},"hasPaymentInfo":true,"pcsDeleted":false,
        "appleIdAlias":"","brMigrated":true,"statusCode":2,"familyEligible":true},"hasMinimumDeviceForPhotosWeb":true,"iCDPEnabled":false,
        "webservices":{"reminders":{"url":"https://p61-remindersws.icloud.com:443","status":"active"},"ckdatabasews":{"pcsRequired":true,
        "url":"https://p61-ckdatabasews.icloud.com:443","status":"active"},"photosupload":{"pcsRequired":true,
        "url":"https://p61-uploadphotosws.icloud.com:443","status":"active"},"photos":{"pcsRequired":true,
        "uploadUrl":"https://p61-uploadphotosws.icloud.com:443","url":"https://p61-photosws.icloud.com:443","status":"active"},"drivews":{"pcsRequired":true,
        "url":"https://p61-drivews.icloud.com:443","status":"active"},"uploadimagews":{"url":"https://p61-uploadimagews.icloud.com:443","status":"active"},
        "schoolwork":{},"cksharews":{"url":"https://p61-ckshare.icloud.com:443","status":"active"},"findme":{"url":"https://p61-fmipweb.icloud.com:443",
        "status":"active"},"ckdeviceservice":{"url":"https://p61-ckdevice.icloud.com:443"},
        "iworkthumbnailws":{"url":"https://p61-iworkthumbnailws.icloud.com:443","status":"active"},
        "mccgateway":{"url":"https://p61-mccgateway.icloud.com:443","status":"active"},"calendar":{"isMakoAccount":false,
        "url":"https://p61-calendarws.icloud.com:443","status":"active"},"docws":{"pcsRequired":true,"url":"https://p61-docws.icloud.com:443",
        "status":"active"},"settings":{"url":"https://p61-settingsws.icloud.com:443","status":"active"},
        "premiummailsettings":{"url":"https://p61-maildomainws.icloud.com:443","status":"active"},"ubiquity":{"url":"https://p61-ubiquityws.icloud.com:443",
        "status":"active"},"keyvalue":{"url":"https://p61-keyvalueservice.icloud.com:443","status":"active"},"mpp":{"url":"https://relay.icloud-mpp.com",
        "status":"active"},"archivews":{"url":"https://p61-archivews.icloud.com:443","status":"active"},"push":{"url":"https://p61-pushws.icloud.com:443",
        "status":"active"},"iwmb":{"url":"https://p61-iwmb.icloud.com:443","status":"active"},
        "iworkexportws":{"url":"https://p61-iworkexportws.icloud.com:443","status":"active"},"sharedlibrary":{"url":"https://sharedlibrary.icloud.com:443",
        "status":"active"},"geows":{"url":"https://p61-geows.icloud.com:443","status":"active"},"account":{"iCloudEnv":{"shortId":"p","vipSuffix":"prod"},
        "url":"https://p61-setup.icloud.com:443","status":"active"},"contacts":{"url":"https://p61-contactsws.icloud.com:443","status":"active"},
        "developerapi":{"url":"https://developer-api.icloud.com:443","status":"active"}},"pcsEnabled":true,
        "configBag":{"urls":{"accountCreateUI":"https://appleid.apple.com/widget/account/?widgetKey=#!create",
        "accountLoginUI":"https://idmsa.apple.com/appleauth/auth/signin?widgetKey=","accountLogin":"https://setup.icloud.com/setup/ws/1/accountLogin",
        "accountRepairUI":"https://appleid.apple.com/widget/account/?widgetKey=#!repair",
        "downloadICloudTerms":"https://setup.icloud.com/setup/ws/1/downloadLiteTerms","repairDone":"https://setup.icloud.com/setup/ws/1/repairDone",
        "accountAuthorizeUI":"https://idmsa.apple.com/appleauth/auth/authorize/signin?client_id=",
        "vettingUrlForEmail":"https://id.apple.com/IDMSEmailVetting/vetShareEmail","accountCreate":"https://setup.icloud.com/setup/ws/1/createLiteAccount",
        "getICloudTerms":"https://setup.icloud.com/setup/ws/1/getTerms","vettingUrlForPhone":"https://id.apple.com/IDMSEmailVetting/vetSharePhone"},
        "accountCreateEnabled":true},"hsaTrustedBrowser":true,"appsOrder":["mail","contacts","calendar","photos","iclouddrive","notes3","reminders",
        "pages","numbers","keynote","newspublisher","find","settings"],"version":2,"isExtendedLogin":true,"pcsServiceIdentitiesIncluded":false,
        "hsaChallengeRequired":false,"requestInfo":{"country":"US","timeZone":"EST","region":"NC"},"pcsDeleted":false,
        "iCloudInfo":{"SafariBookmarksHasMigratedToCloudKit":false},"apps":{"calendar":{},"reminders":{},"keynote":{"isQualifiedForBeta":true},
        "settings":{"canLaunchWithOneFactor":true},"mail":{},"numbers":{"isQualifiedForBeta":true},"photos":{},"pages":{"isQualifiedForBeta":true},
        "notes3":{},"find":{"canLaunchWithOneFactor":true},"iclouddrive":{},"newspublisher":{"isHidden":true},"contacts":{}}}'
    headers:
      Content-Type: ['application/json; charset=UTF-8']
      X-Apple-Edge-Response-Time: ['501']
      X-Apple-Request-UUID: ['12345678-1234-1234-1234-123456789012']
      X-Responding-Instance: ['setupservice:33200401:mr55p32ic-qukt01202301:7001:2404B363:5934c9004de5']
      x-apple-user-partition: ['32']
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"recordType":"CheckIndexingState"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=2522Project44&clientMasteringNumber=2522B2&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=12345678901&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"records\" : [ {\n    \"recordName\" : \"_911a39bc-1c9a-4dcd-88be-6673de6d7b6e\",\n
        \   \"recordType\" : \"CheckIndexingState\",\n    \"fields\" : {\n      \"progress\"
        : {\n        \"value\" : 100,\n        \"type\" : \"INT64\"\n      },\n      \"state\"
        : {\n        \"value\" : \"FINISHED\",\n        \"type\" : \"STRING\"\n      }\n
        \   },\n    \"pluginFields\" : { },\n    \"recordChangeTag\" : \"0\",\n    \"created\"
        : {\n      \"timestamp\" : 1686106454220,\n      \"userRecordName\" : \"_10\",\n
        \     \"deviceID\" : \"1\"\n    },\n    \"modified\" : {\n      \"timestamp\"
        : 1686106454220,\n      \"userRecordName\" : \"_10\",\n      \"deviceID\"
        : \"1\"\n    },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\"
        : \"PrimarySync\",\n      \"ownerRecordName\" : \"_cfcd54372a11173505ad48f023ba188d\",\n
        \     \"zoneType\" : \"REGULAR_CUSTOM_ZONE\"\n    }\n  } ],\n  \"syncToken\"
        : \"AQAAAAAAAURbf/////////+LxHA1AvhAx66JMCtmgB8J\"\n}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Edge-Response-Time:
      - '161'
      X-Apple-Request-UUID:
      - 02b0662b-d79e-40a9-8404-815996b48cf7
      X-Responding-Instance:
      - ckdatabasews:35407501:mr90p54ic-zteg03191201:8807:2316B303:152c6124bda977460db222f8d882b1ee7ef1788d
      x-apple-user-partition:
      - '54'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/zones/list
  response:
    body:
      string: "{\n  \"moreComing\" : false,\n  \"syncToken\" : \"AQAAAAAAAwmVf//////////Kd+LphRdKGbpJMSeRX5Td\",\n
        \ \"zones\" : [ {\n    \"zoneID\" : {\n      \"zoneName\" : \"PrimarySync\",\n
        \     \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\",\n      \"zoneType\"
        : \"REGULAR_CUSTOM_ZONE\"\n    }\n  } ]\n}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Edge-Response-Time:
      - '195'
      X-Apple-Request-UUID:
      - 34046027-8226-46f7-9960-4b0839c08b82
      X-Responding-Instance:
      - ckdatabasews:966835083:prod-p121-ckdatabasews-100percent-79bfc6b95d-klrcc:8080:2322B333:13811c3d707a78576fcc7f8962567af12bdfeeb4
      x-apple-user-partition:
      - '121'
    status:
      code: 200
      message: OK
- request:
    body: '{"batch": [{"resultsLimit": 1, "query": {"filterBy": {"fieldName": "indexCountID",
      "fieldValue": {"type": "STRING_LIST", "value": ["CPLAssetByAddedDate"]}, "comparator":
      "IN"}, "recordType": "HyperionIndexCountLookup"}, "zoneWide": true, "zoneID":
      {"zoneName": "PrimarySync"}}]}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/internal/records/query/batch?clientBuildNumber=2522Project44&clientMasteringNumber=2522B2&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=12345678901&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"batch\" : [ {\n    \"records\" : [ {\n      \"recordName\" :
        \"CPLAssetByAddedDate\",\n      \"recordType\" : \"IndexCountResult\",\n      \"fields\"
        : {\n        \"itemCount\" : {\n          \"value\" : 7840,\n          \"type\"
        : \"INT64\"\n        }\n      },\n      \"pluginFields\" : { },\n      \"recordChangeTag\"
        : \"0\",\n      \"created\" : {\n        \"timestamp\" : 1686106454664,\n
        \       \"userRecordName\" : \"_10\",\n        \"deviceID\" : \"1\"\n      },\n
        \     \"modified\" : {\n        \"timestamp\" : 1686106454664,\n        \"userRecordName\"
        : \"_10\",\n        \"deviceID\" : \"1\"\n      },\n      \"deleted\" : false,\n
        \     \"zoneID\" : {\n        \"zoneName\" : \"PrimarySync\",\n        \"ownerRecordName\"
        : \"_cfcd54372a11173505ad48f023ba188d\",\n        \"zoneType\" : \"REGULAR_CUSTOM_ZONE\"\n
        \     }\n    } ],\n    \"syncToken\" : \"AQAAAAAAAURbf/////////+LxHA1AvhAx66JMCtmgB8J\"\n
        \ } ]\n}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Edge-Response-Time:
      - '79'
      X-Apple-Request-UUID:
      - c8efec4c-f691-4a94-adfd-efc252cd1c2d
      X-Responding-Instance:
      - ckdatabasews:35407701:mr11p54ic-ztbu12034201:8807:2316B303:152c6124bda977460db222f8d882b1ee7ef1788d
      x-apple-user-partition:
      - '54'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"filterBy": [{"fieldName": "startRank", "fieldValue": {"type":
      "INT64", "value": 0}, "comparator": "EQUALS"}, {"fieldName": "direction", "fieldValue":
      {"type": "STRING", "value": "ASCENDING"}, "comparator": "EQUALS"}], "recordType":
      "CPLAssetAndMasterByAddedDate"}, "resultsLimit": 200, "desiredKeys": ["resJPEGFullWidth",
      "resJPEGFullHeight", "resJPEGFullFileType", "resJPEGFullFingerprint", "resJPEGFullRes",
      "resJPEGLargeWidth", "resJPEGLargeHeight", "resJPEGLargeFileType", "resJPEGLargeFingerprint",
      "resJPEGLargeRes", "resJPEGMedWidth", "resJPEGMedHeight", "resJPEGMedFileType",
      "resJPEGMedFingerprint", "resJPEGMedRes", "resJPEGThumbWidth", "resJPEGThumbHeight",
      "resJPEGThumbFileType", "resJPEGThumbFingerprint", "resJPEGThumbRes", "resVidFullWidth",
      "resVi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cvws.icloud-content.com/B/AeYfMtlOMb3dM9bETic9fXkMpjMVAaL34BSibtYVAvhCWscZ-HnA19Re/$%7Bf%7D?o=AurPpKo_3uhp3RCQNv_NIlQzIKJC3_dbZyy3QD0hanIu&v=1&x=3&a=CAogEjykwJQtOjMHrwghvR2QT9hudpOHGO6zmeYR6XPulCYSbRCF-pqeiTEYhdf2n4kxIgEAUgQMpjMVWgTA19ReaibUYybVVmyefnKi8geQ4v93UX3GRTfyjQHYHKqbPwXqjlhNgmeBzHImW8BXPC9ad40YuBSuLZLXwdFiJ3k5AZ49bn7o2K8RSObjA1AG1Ng&e=1686110055&fl=&r=f8bc6446-0bf6-4960-8fa1-aa4f1f0b5f7f-1&k=vcGVqlrMadPcySeLfMbEXw&[...]
