interactions:
- request:
    body: '{"apple_id": "jdoe@gmail.com", "password": "password1",
      "extended_login": false}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/login?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321
  response:
    body:
      string: '{"dsInfo":{"lastName":"Doe","iCDPEnabled":false,"tantorMigrated":true,"dsid":"297739039","hsaEnabled":true,"ironcadeMigrated":true,"locale":"en-us_CA","brZoneConsolidated":true,"isManagedAppleID":false,"gilligan-invited":"true","appleIdAliases":[],"hsaVersion":2,"isPaidDeveloper":false,"countryCode":"CAN","notificationId":"f252c151-0eb2-40d9-b7a5-f6d7f698efe6","primaryEmailVerified":true,"aDsID":"000542-05-a58bbc1a-f56b-431e-ab15-f736d9f05f7f","locked":false,"hasICloudQualifyingDevice":true,"primaryEmail":"jdoe@gmail.com","appleIdEntries":[{"isPrimary":true,"type":"EMAIL","value":"jdoe@gmail.com"}],"gilligan-enabled":"true","fullName":"John
        Doe","languageCode":"en-us","appleId":"jdoe@gmail.com","firstName":"John","iCloudAppleIdAlias":"","notesMigrated":true,"hasPaymentInfo":false,"pcsDeleted":false,"appleIdAlias":"","brMigrated":true,"statusCode":2,"familyEligible":true},"hasMinimumDeviceForPhotosWeb":true,"iCDPEnabled":false,"webservices":{"reminders":{"url":"https://p49-remindersws.icloud.com:443","status":"active"},"ckdatabasews":{"pcsRequired":true,"url":"https://p49-ckdatabasews.icloud.com:443","status":"active"},"photosupload":{"pcsRequired":true,"url":"https://p49-uploadphotosws.icloud.com:443","status":"active"},"photos":{"pcsRequired":true,"uploadUrl":"https://p49-uploadphotosws.icloud.com:443","url":"https://p49-photosws.icloud.com:443","status":"active"},"drivews":{"pcsRequired":true,"url":"https://p49-drivews.icloud.com:443","status":"active"},"uploadimagews":{"url":"https://p49-uploadimagews.icloud.com:443","status":"active"},"schoolwork":{},"cksharews":{"url":"https://p49-ckshare.icloud.com:443","status":"active"},"findme":{"url":"https://p49-fmipweb.icloud.com:443","status":"active"},"ckdeviceservice":{"url":"https://p49-ckdevice.icloud.com:443"},"iworkthumbnailws":{"url":"https://p49-iworkthumbnailws.icloud.com:443","status":"active"},"calendar":{"url":"https://p49-calendarws.icloud.com:443","status":"active"},"docws":{"pcsRequired":true,"url":"https://p49-docws.icloud.com:443","status":"active"},"settings":{"url":"https://p49-settingsws.icloud.com:443","status":"active"},"ubiquity":{"url":"https://p49-ubiquityws.icloud.com:443","status":"active"},"streams":{"url":"https://p49-streams.icloud.com:443","status":"active"},"keyvalue":{"url":"https://p49-keyvalueservice.icloud.com:443","status":"active"},"archivews":{"url":"https://p49-archivews.icloud.com:443","status":"active"},"push":{"url":"https://p49-pushws.icloud.com:443","status":"active"},"iwmb":{"url":"https://p49-iwmb.icloud.com:443","status":"active"},"iworkexportws":{"url":"https://p49-iworkexportws.icloud.com:443","status":"active"},"geows":{"url":"https://p49-geows.icloud.com:443","status":"active"},"account":{"iCloudEnv":{"shortId":"p","vipSuffix":"prod"},"url":"https://p49-setup.icloud.com:443","status":"active"},"fmf":{"url":"https://p49-fmfweb.icloud.com:443","status":"active"},"contacts":{"url":"https://p49-contactsws.icloud.com:443","status":"active"}},"pcsEnabled":true,"configBag":{"urls":{"accountCreateUI":"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!create","accountLoginUI":"https://idmsa.apple.com/appleauth/auth/signin?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d","accountLogin":"https://setup.icloud.com/setup/ws/1/accountLogin","accountRepairUI":"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!repair","downloadICloudTerms":"https://setup.icloud.com/setup/ws/1/downloadLiteTerms","repairDone":"https://setup.icloud.com/setup/ws/1/repairDone","accountAuthorizeUI":"https://idmsa.apple.com/appleauth/auth/authorize/signin?client_id=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d","vettingUrlForEmail":"https://id.apple.com/IDMSEmailVetting/vetShareEmail","accountCreate":"https://setup.icloud.com/setup/ws/1/createLiteAccount","getICloudTerms":"https://setup.icloud.com/setup/ws/1/getTerms","vettingUrlForPhone":"https://id.apple.com/IDMSEmailVetting/vetSharePhone"},"accountCreateEnabled":"true"},"hsaTrustedBrowser":true,"appsOrder":["mail","contacts","calendar","photos","iclouddrive","notes3","reminders","pages","numbers","keynote","newspublisher","fmf","find","settings"],"version":2,"isExtendedLogin":false,"pcsServiceIdentitiesIncluded":true,"hsaChallengeRequired":false,"requestInfo":{"country":"CA","timeZone":"EST","region":"ON"},"pcsDeleted":false,"iCloudInfo":{"SafariBookmarksHasMigratedToCloudKit":true},"apps":{"calendar":{},"reminders":{},"keynote":{"isQualifiedForBeta":true},"settings":{"canLaunchWithOneFactor":true},"mail":{},"numbers":{"isQualifiedForBeta":true},"photos":{},"pages":{"isQualifiedForBeta":true},"notes3":{},"find":{"canLaunchWithOneFactor":true},"iclouddrive":{},"newspublisher":{"isHidden":true},"fmf":{},"contacts":{}}}'
    headers:
      Apple-Originating-System:
      - UnknownOriginatingSystem
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-Edge-Response-Time:
      - '2496'
      X-Apple-Jingle-Correlation-Key:
      - 6JJMCUIOWJANTN5F63L7NGHP4Y
      X-Apple-Request-UUID:
      - f252c151-0eb2-40d9-b7a5-f6d7f698efe6
      X-Responding-Instance:
      - setupservice:16300401:st42p63ic-ztfb17161001:8001:2106B984:dfab7cff087c
      apple-seq:
      - '0'
      apple-tk:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"recordType":"CheckIndexingState"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p49-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=297739039&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"records\" : [ {\n    \"recordName\" : \"_2d91ddc6-5975-4889-b364-f4c495f1c683\",\n
        \   \"recordType\" : \"CheckIndexingState\",\n    \"fields\" : {\n      \"progress\"
        : {\n        \"value\" : 100,\n        \"type\" : \"INT64\"\n      },\n      \"state\"
        : {\n        \"value\" : \"FINISHED\",\n        \"type\" : \"STRING\"\n      }\n
        \   },\n    \"pluginFields\" : { },\n    \"recordChangeTag\" : \"0\",\n    \"created\"
        : {\n      \"timestamp\" : 1619189179355,\n      \"userRecordName\" : \"_10\",\n
        \     \"deviceID\" : \"1\"\n    },\n    \"modified\" : {\n      \"timestamp\"
        : 1619189179355,\n      \"userRecordName\" : \"_10\",\n      \"deviceID\"
        : \"1\"\n    },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\"
        : \"PrimarySync\",\n      \"ownerRecordName\" : \"_e6814143efc2f1d380e1405802f63bc0\",\n
        \     \"zoneType\" : \"REGULAR_CUSTOM_ZONE\"\n    }\n  } ],\n  \"syncToken\"
        : \"AQAAAAAAAVh1f/////////+cUS0f9SRPtosfVrIdmd5+\"\n}"
    headers:
      Apple-Originating-System:
      - UnknownOriginatingSystem
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Edge-Response-Time:
      - '206'
      X-Apple-Request-UUID:
      - aa3db576-3198-49c1-b0c9-f481e2bd9655
      X-Responding-Instance:
      - ckdatabasews:44904601:pv42p49ic-qugg04094801:8201:2106B577:845e0e2118e9b5d6e514200df57435a39b5bd195
      apple-seq:
      - '0'
      apple-tk:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"recordType":"CPLAlbumByPositionLive"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p49-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=297739039&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"records\" : [ {\n    \"recordName\" : \"----Project-Root-Folder----\",\n
        \   \"recordType\" : \"CPLAlbum\",\n    \"fields\" : {\n      \"recordModificationDate\"
        : {\n        \"value\" : 1613792272834,\n        \"type\" : \"TIMESTAMP\"\n
        \     },\n      \"sortAscending\" : {\n        \"value\" : 1,\n        \"type\"
        : \"INT64\"\n      },\n      \"sortType\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"albumType\" : {\n        \"value\" : 3,\n        \"type\"
        : \"INT64\"\n      },\n      \"position\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"sortTypeExt\" : {\n        \"value\" : 0,\n
        \       \"type\" : \"INT64\"\n      }\n    },\n    \"pluginFields\" : { },\n
        \   \"recordChangeTag\" : \"1rrd\",\n    \"created\" : {\n      \"timestamp\"
        : 1600486356311,\n      \"userRecordName\" : \"_e6814143efc2f1d380e1405802f63bc0\",\n
        \     \"deviceID\" : \"5BCE29E3EE61BA4A984F6030668BB0D5A81B44648C1C2FBD59388248EB944BE1\"\n
        \   },\n    \"modified\" : {\n      \"timestamp\" : 1613804656874,\n      \"userRecordName\"
     [...]
- request:
    body: '{"batch": [{"resultsLimit": 1, "query": {"filterBy": {"fieldName": "indexCountID",
      "fieldValue": {"type": "STRING_LIST", "value": ["CPLAssetByAddedDate"]}, "comparator":
      "IN"}, "recordType": "HyperionIndexCountLookup"}, "zoneWide": true, "zoneID":
      {"zoneName": "PrimarySync"}}]}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p49-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/internal/records/query/batch?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=297739039&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"batch\" : [ {\n    \"records\" : [ {\n      \"recordName\" :
        \"CPLAssetByAddedDate\",\n      \"recordType\" : \"IndexCountResult\",\n      \"fields\"
        : {\n        \"itemCount\" : {\n          \"value\" : 5642,\n          \"type\"
        : \"INT64\"\n        }\n      },\n      \"pluginFields\" : { },\n      \"recordChangeTag\"
        : \"0\",\n      \"created\" : {\n        \"timestamp\" : 1619189180715,\n
        \       \"userRecordName\" : \"_10\",\n        \"deviceID\" : \"1\"\n      },\n
        \     \"modified\" : {\n        \"timestamp\" : 1619189180715,\n        \"userRecordName\"
        : \"_10\",\n        \"deviceID\" : \"1\"\n      },\n      \"deleted\" : false,\n
        \     \"zoneID\" : {\n        \"zoneName\" : \"PrimarySync\",\n        \"ownerRecordName\"
        : \"_e6814143efc2f1d380e1405802f63bc0\",\n        \"zoneType\" : \"REGULAR_CUSTOM_ZONE\"\n
        \     }\n    } ],\n    \"syncToken\" : \"AQAAAAAAAVh1f/////////+cUS0f9SRPtosfVrIdmd5+\"\n
        \ } ]\n}"
    headers:
      Apple-Originating-System:
      - UnknownOriginatingSystem
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Edge-Response-Time:
      - '179'
      X-Apple-Request-UUID:
      - d17cdfd8-5908-4657-b095-9e7c33281004
      X-Responding-Instance:
      - ckdatabasews:44904901:pv42p49ic-zteg04062301:8807:2106B577:845e0e2118e9b5d6e514200df57435a39b5bd195
      apple-seq:
      - '0'
      apple-tk:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"filterBy": [{"fieldName": "startRank", "fieldValue": {"type":
      "INT64", "value": 0}, "comparator": "EQUALS"}, {"fieldName": "direction", "fieldValue":
      {"type": "STRING", "value": "ASCENDING"}, "comparator": "EQUALS"}], "recordType":
      "CPLAssetAndMasterByAddedDate"}, "resultsLimit": 200, "desiredKeys": ["resJPEGFullWidth",
      "resJPEGFullHeight", "resJPEGFullFileType", "resJPEGFullFingerprint", "resJPEGFullRes",
      "resJPEGLargeWidth", "resJPEGLargeHeight", "resJPEGLargeFileType", "resJPEGLargeFingerprint",
      "resJPEGLargeRes", "resJPEGMedWidth", "resJPEGMedHeight", "resJPEGMedFileType",
      "resJPEGMedFingerprint", "resJPEGMedRes", "resJPEGThumbWidth", "resJPEGThumbHeight",
      "resJPEGThumbFileType", "resJPEGThumbFingerprint", "resJPEGThumbRes", "resVidFullWidth",
      "resVi[...]
