interactions:
- request:
    body: !!python/unicode '{"apple_id": "bad_username", "password": "bad_password",
      "extended_login": false}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/login?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&clientId=EC5646DE-9423-11E8-BF21-14109FE0B321&ckjsVersion=2.0.5&ckjsBuildVersion=17DProjectDev77
  response:
    body: {string: !!python/unicode '{"success":false,"error":1}'}
    headers:
      apple-originating-system: [UnknownOriginatingSystem]
      apple-seq: ['0']
      apple-tk: ['false']
      content-type: [application/json; charset=UTF-8]
      x-apple-jingle-correlation-key: [Q3QIQFAIYJGPRLGLP537QEIS3I]
      x-apple-request-uuid: [86e08814-08c2-4cf8-accb-7f77f81112da]
      x-responding-instance: ['setupservice:36400101:mr91p64ic-tyfb08043201:8001:1813B80:3b85e7d76']
    status: {code: 421, message: Misdirected Request}
version: 1
