interactions:
- request:
    body: !!python/unicode '{"accountName": "bad_username", "password": "bad_password", "rememberMe":
      true, "trustTokens": []}'
    headers:
      Content-Type: ['application/json']
      X-Apple-OAuth-Client-Id: ['d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d']
      X-Apple-OAuth-Client-Type: ['firstPartyAuth']
      X-Apple-OAuth-Redirect-URI: ['https://www.icloud.com']
      X-Apple-OAuth-Require-Grant-Code: ['true']
      X-Apple-OAuth-Response-Mode: ['web_message']
      X-Apple-OAuth-Response-Type: ['code']
      X-Apple-OAuth-State: ['EC5646DE-9423-11E8-BF21-14109FE0B321']
      X-Apple-Widget-Key: ['d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d']
    method: POST
    uri: https://idmsa.apple.com/appleauth/auth/signin?isRememberMeEnabled=true
  response:
    body:
      string: !!python/unicode '{}'
    headers:
      Content-Type: ['text/html;charset=UTF-8']
      X-Apple-I-Request-ID: ['12345678-1234-1234-1234-123456789012']
      X-Apple-I-Rscd: ['401']
      X-BuildVersion: ['R4_1']
      scnt: ['scnt-1234567890']
    status:
      code: 200
      message: ''
version: 1
