interactions:
- request:
    body: !!python/unicode '{"apple_id": "jdoe@gmail.com", "password": "password1",
      "extended_login": false}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/login?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&ckjsVersion=2.0.5&ckjsBuildVersion=17DProjectDev77
  response:
    body: {string: !!python/unicode '{"dsInfo":{"lastName":"Doe","iCDPEnabled":false,"dsid":"185776146","hsaEnabled":true,"ironcadeMigrated":true,"locale":"en-us_US","brZoneConsolidated":false,"isManagedAppleID":false,"gilligan-invited":"true","appleIdAliases":["jdoe@icloud.com"],"hsaVersion":2,"isPaidDeveloper":true,"countryCode":"USA","notificationId":"e55b50c9-16a6-42b8-999b-4685e3ee8c3c","primaryEmailVerified":true,"aDsID":"123412341234123412341233","locked":false,"hasICloudQualifyingDevice":true,"primaryEmail":"jdoe@gmail.com","appleIdEntries":[{"isPrimary":true,"type":"EMAIL","value":"jdoe@gmail.com"}],"gilligan-enabled":"true","fullName":"John
        Doe","languageCode":"en-us","appleId":"jdoe@gmail.com","firstName":"John","iCloudAppleIdAlias":"jdoe@icloud.com","notesMigrated":true,"hasPaymentInfo":false,"pcsDeleted":false,"appleIdAlias":"","brMigrated":true,"statusCode":2},"hasMinimumDeviceForPhotosWeb":true,"iCDPEnabled":false,"webservices":{"reminders":{"url":"https://p10-remindersws.icloud.com:443","status":"active"},"notes":{"url":"https://p10-notesws.icloud.com:443","status":"active"},"mail":{"url":"https://p10-mailws.icloud.com:443","status":"active"},"ckdatabasews":{"pcsRequired":true,"url":"https://p10-ckdatabasews.icloud.com:443","status":"active"},"photosupload":{"pcsRequired":true,"url":"https://p10-uploadphotosws.icloud.com:443","status":"active"},"photos":{"pcsRequired":true,"uploadUrl":"https://p10-uploadphotosws.icloud.com:443","url":"https://p10-photosws.icloud.com:443","status":"active"},"drivews":{"pcsRequired":true,"url":"https://p10-drivews.icloud.com:443","status":"active"},"uploadimagews":{"url":"https://p10-uploadimagews.icloud.com:443","status":"active"},"schoolwork":{},"cksharews":{"url":"https://p10-ckshare.icloud.com:443","status":"active"},"findme":{"url":"https://p10-fmipweb.icloud.com:443","status":"active"},"ckdeviceservice":{"url":"https://p10-ckdevice.icloud.com:443"},"iworkthumbnailws":{"url":"https://p10-iworkthumbnailws.icloud.com:443","status":"active"},"calendar":{"url":"https://p10-calendarws.icloud.com:443","status":"active"},"docws":{"pcsRequired":true,"url":"https://p10-docws.icloud.com:443","status":"active"},"settings":{"url":"https://p10-settingsws.icloud.com:443","status":"active"},"ubiquity":{"url":"https://p10-ubiquityws.icloud.com:443","status":"active"},"streams":{"url":"https://p10-streams.icloud.com:443","status":"active"},"keyvalue":{"url":"https://p10-keyvalueservice.icloud.com:443","status":"active"},"archivews":{"url":"https://p10-archivews.icloud.com:443","status":"active"},"push":{"url":"https://p10-pushws.icloud.com:443","status":"active"},"iwmb":{"url":"https://p10-iwmb.icloud.com:443","status":"active"},"iworkexportws":{"url":"https://p10-iworkexportws.icloud.com:443","status":"active"},"geows":{"url":"https://p10-geows.icloud.com:443","status":"active"},"account":{"iCloudEnv":{"shortId":"p","vipSuffix":"p"},"url":"https://p10-setup.icloud.com:443","status":"active"},"fmf":{"url":"https://p10-fmfweb.icloud.com:443","status":"active"},"contacts":{"url":"https://p10-contactsws.icloud.com:443","status":"active"}},"pcsEnabled":true,"configBag":{"urls":{"accountCreateUI":"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!create","accountLoginUI":"https://idmsa.apple.com/appleauth/auth/signin?widgetKey=83545bf919730e51dbfba24e7e8a78d2","accountLogin":"https://setup.icloud.com/setup/ws/1/accountLogin","accountRepairUI":"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!repair","downloadICloudTerms":"https://setup.icloud.com/setup/ws/1/downloadLiteTerms","repairDone":"https://setup.icloud.com/setup/ws/1/repairDone","vettingUrlForEmail":"https://id.apple.com/IDMSEmailVetting/vetShareEmail","accountCreate":"https://setup.icloud.com/setup/ws/1/createLiteAccount","getICloudTerms":"https://setup.icloud.com/setup/ws/1/getTerms","vettingUrlForPhone":"https://id.apple.com/IDMSEmailVetting/vetSharePhone"},"accountCreateEnabled":"true"},"hsaTrustedBrowser":true,"appsOrder":["mail","contacts","calendar","photos","iclouddrive","notes2","reminders","pages","numbers","keynote","newspublisher","fmf","find","settings"],"version":2,"isExtendedLogin":false,"pcsServiceIdentitiesIncluded":true,"hsaChallengeRequired":false,"requestInfo":{"country":"TH","timeZone":"GMT+7","isAppleInternal":true},"pcsDeleted":false,"iCloudInfo":{"SafariBookmarksHasMigratedToCloudKit":false},"apps":{"calendar":{},"reminders":{},"keynote":{"isQualifiedForBeta":true},"settings":{"canLaunchWithOneFactor":true},"mail":{},"numbers":{"isQualifiedForBeta":true},"photos":{},"pages":{"isQualifiedForBeta":true},"find":{"canLaunchWithOneFactor":true},"notes2":{},"iclouddrive":{},"newspublisher":{"isHidden":true},"fmf":{},"contacts":{}}}'}
    headers:
      apple-originating-system: [UnknownOriginatingSystem]
      apple-seq: ['0']
      apple-tk: ['false']
      content-type: [application/json; charset=UTF-8]
      x-apple-jingle-correlation-key: [4VNVBSIWUZBLRGM3I2C6H3UMHQ]
      x-apple-request-uuid: [e55b50c9-16a6-42b8-999b-4685e3ee8c3c]
      x-responding-instance: ['setupservice:33000403:mr21p30ic-ibaf07200201:8003:1813B80:3b85e7d76']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query":{"recordType":"CheckIndexingState"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type: [text/plain]
    method: POST
    uri: https://p10-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&getCurrentSyncToken=True&ckjsVersion=2.0.5&remapEnums=True&clientMasteringNumber=17DHotfix5&dsid=185776146&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&ckjsBuildVersion=17DProjectDev77
  response:
    body: {string: !!python/unicode "{\n  \"records\" : [ {\n    \"recordName\" :
        \"_9506fd0f-42dd-4d21-bc23-54a32743a265\",\n    \"recordType\" : \"CheckIndexingState\",\n
        \   \"fields\" : {\n      \"progress\" : {\n        \"value\" : 100,\n        \"type\"
        : \"INT64\"\n      },\n      \"state\" : {\n        \"value\" : \"FINISHED\",\n
        \       \"type\" : \"STRING\"\n      }\n    },\n    \"pluginFields\" : { },\n
        \   \"recordChangeTag\" : \"0\",\n    \"created\" : {\n      \"timestamp\"
        : 1532978968396,\n      \"userRecordName\" : \"_10\",\n      \"deviceID\"
        : \"1\"\n    },\n    \"modified\" : {\n      \"timestamp\" : 1532978968396,\n
        \     \"userRecordName\" : \"_10\",\n      \"deviceID\" : \"1\"\n    },\n
        \   \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\" : \"PrimarySync\",\n
        \     \"ownerRecordName\" : \"_1234123412341234123423f\"\n    }\n
        \ } ],\n  \"syncToken\" : \"AQAAAAAAAwl6f//////////Kd+LphRdKGbpJMSeRX5Td\"\n}"}
    headers:
      apple-originating-system: [UnknownOriginatingSystem]
      apple-seq: ['0']
      apple-tk: ['false']
      content-type: [application/json; charset=UTF-8]
      x-apple-cloudkit-version: ['1.0']
      x-apple-request-uuid: [392492de-0407-48ba-aa7d-d5028a873bfe]
      x-responding-instance: ['ckdatabasews:21001702:nk11p10me-ztbu05054101:8202:1813B216:nocommit']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query":{"recordType":"CPLAlbumByPositionLive"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type: [text/plain]
    method: POST
    uri: https://p10-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&getCurrentSyncToken=True&ckjsVersion=2.0.5&remapEnums=True&clientMasteringNumber=17DHotfix5&dsid=185776146&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&ckjsBuildVersion=17DProjectDev77
  response:
    body: {string: !!python/unicode "{\n  \"records\" : [ {\n    \"recordName\" :
        \"----Root-Folder----\",\n    \"recordType\" : \"CPLAlbum\",\n    \"fields\"
        : {\n      \"recordModificationDate\" : {\n        \"value\" : 1502811072713,\n
        \       \"type\" : \"TIMESTAMP\"\n      },\n      \"sortAscending\" : {\n
        \       \"value\" : 1,\n        \"type\" : \"INT64\"\n      },\n      \"sortType\"
        : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\n      },\n      \"albumType\"
        : {\n        \"value\" : 3,\n        \"type\" : \"INT64\"\n      },\n      \"position\"
        : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\n      },\n      \"sortTypeExt\"
        : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\n      }\n    },\n
        \   \"pluginFields\" : { },\n    \"recordChangeTag\" : \"30lo\",\n    \"created\"
        : {\n      \"timestamp\" : 1428915378515,\n      \"userRecordName\" : \"_1234123412341234123423f\",\n
        \     \"deviceID\" : \"12341234123412341234\"\n
        \   },\n    \"modified\" : {\n      \"timestamp\" : 1502811092910,\n      \"userRecordName\"
        : \"_1234123412341234123423f\",\n      \"deviceID\" : \"12341234123412341234234827348234\"\n
        \   },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\" :
        \"PrimarySync\",\n      \"ownerRecordName\" : \"_1234123412341234123423f\"\n
        \   }\n  }, {\n    \"recordName\" : \"402BB76C-1CC8-4CAC-BFC0-61D14E47CBFD\",\n
        \   \"recordType\" : \"CPLAlbum\",\n    \"fields\" : {\n      \"recordModificationDate\"
        : {\n        \"value\" : 1514538116387,\n        \"type\" : \"TIMESTAMP\"\n
        \     },\n      \"sortAscending\" : {\n        \"value\" : 1,\n        \"type\"
        : \"INT64\"\n      },\n      \"sortType\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"albumType\" : {\n        \"value\" : 0,\n        \"type\"
        : \"INT64\"\n      },\n      \"albumNameEnc\" : {\n        \"value\" : \"QkxEIENhZmU=\",\n
        \       \"type\" : \"ENCRYPTED_BYTES\"\n      },\n      \"position\" : {\n
        \       \"value\" : 311,\n        \"type\" : \"INT64\"\n      },\n      \"sortTypeExt\"
        : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\n      }\n    },\n
        \   \"pluginFields\" : { },\n    \"recordChangeTag\" : \"3uqj\",\n    \"created\"
        : {\n      \"timestamp\" : 1514538434377,\n      \"userRecordName\" : \"_123412341234123412342[...]
- request:
    body: !!python/unicode '{"batch": [{"query": {"filterBy": {"fieldName": "indexCountID",
      "fieldValue": {"type": "STRING_LIST", "value": ["CPLAssetByAddedDate"]}, "comparator":
      "IN"}, "recordType": "HyperionIndexCountLookup"}, "resultsLimit": 1, "zoneWide":
      true, "zoneID": {"zoneName": "PrimarySync"}}]}'
    headers:
      Content-type: [text/plain]
    method: POST
    uri: https://p10-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/internal/records/query/batch?clientBuildNumber=17DHotfix5&getCurrentSyncToken=True&ckjsVersion=2.0.5&remapEnums=True&clientMasteringNumber=17DHotfix5&dsid=185776146&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&ckjsBuildVersion=17DProjectDev77
  response:
    body: {string: !!python/unicode "{\n  \"batch\" : [ {\n    \"records\" : [ {\n
        \     \"recordName\" : \"CPLAssetByAddedDate\",\n      \"recordType\" : \"IndexCountResult\",\n
        \     \"fields\" : {\n        \"itemCount\" : {\n          \"value\" : 33160,\n
        \         \"type\" : \"INT64\"\n        }\n      },\n      \"pluginFields\"
        : { },\n      \"recordChangeTag\" : \"0\",\n      \"created\" : {\n        \"timestamp\"
        : 1532978969651,\n        \"userRecordName\" : \"_10\",\n        \"deviceID\"
        : \"1\"\n      },\n      \"modified\" : {\n        \"timestamp\" : 1532978969651,\n
        \       \"userRecordName\" : \"_10\",\n        \"deviceID\" : \"1\"\n      },\n
        \     \"deleted\" : false,\n      \"zoneID\" : {\n        \"zoneName\" : \"PrimarySync\",\n
        \       \"ownerRecordName\" : \"_1234123412341234123423f\"\n      }\n
        \   } ],\n    \"syncToken\" : \"AQAAAAAAAwl6f//////////Kd+LphRdKGbpJMSeRX5Td\"\n
        \ } ]\n}"}
    headers:
      apple-originating-system: [UnknownOriginatingSystem]
      apple-seq: ['0']
      apple-tk: ['false']
      content-type: [application/json; charset=UTF-8]
      x-apple-cloudkit-version: ['1.0']
      x-apple-request-uuid: [44fb3a09-1bd3-45de-b7ac-934ac55e43cd]
      x-responding-instance: ['ckdatabasews:21004502:nk11p10me-hygg31183101:8202:1813B216:nocommit']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"filterBy": [{"fieldName": "startRank", "fieldValue":
      {"type": "INT64", "value": 0}, "comparator": "EQUALS"}, {"fieldName": "direction",
      "fieldValue": {"type": "STRING", "value": "ASCENDING"}, "comparator": "EQUALS"}],
      "recordType": "CPLAssetAndMasterByAddedDate"}, "resultsLimit": 200, "zoneID":
      {"zoneName": "PrimarySync"}, "desiredKeys": ["resJPEGFullWidth", "resJPEGFullHeight",
      "resJPEGFullFileType", "resJPEGFullFingerprint", "resJPEGFullRes", "resJPEGLargeWidth",
      "resJPEGLargeHeight", "resJPEGLargeFileType", "resJPEGLargeFingerprint", "resJPEGLargeRes",
      "resJPEGMedWidth", "resJPEGMedHeight", "resJPEGMedFileType", "resJPEGMedFingerprint",
      "resJPEGMedRes", "resJPEGThumbWidth", "resJPEGThumbHeight", "resJPEGThumbFileType",
      "resJPEGThumbFingerprint", "resJPEGThumbRes", "resVidFullWidth", "resVidFullH[...]
