interactions:
- request:
    body: '{"apple_id": "jdoe@gmail.com", "password": "password1", "extended_login":
      false}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/login?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321
  response:
    body:
      string: "{\"dsInfo\":{\"lastName\":\"Doe\",\"iCDPEnabled\":false,\"tantorMigrated\"\
        :false,\"dsid\":\"220791670\",\"hsaEnabled\":true,\"ironcadeMigrated\":true,\"\
        locale\":\"de-de_DE\",\"brZoneConsolidated\":false,\"isManagedAppleID\":false,\"\
        gilligan-invited\":\"true\",\"appleIdAliases\":[\"jdoe@me.com\",\"\
        jdoe@icloud.com\"],\"hsaVersion\":2,\"isPaidDeveloper\":false,\"countryCode\"\
        :\"DEU\",\"notificationId\":\"82947cdd-51e8-4295-884b-a87ceb766e06\",\"primaryEmailVerified\"\
        :true,\"aDsID\":\"000639-05-90e49afe-d7fc-48fd-85a1-af16160afd6a\",\"locked\"\
        :false,\"hasICloudQualifyingDevice\":true,\"primaryEmail\":\"jdoe@gmail.com\"\
        ,\"appleIdEntries\":[{\"isPrimary\":true,\"type\":\"EMAIL\",\"value\":\"jdoe@gmail.com\"\
        },{\"type\":\"EMAIL\",\"value\":\"jdoe@me.com\"},{\"type\":\"EMAIL\"\
        ,\"value\":\"jdoe@icloud.com\"}],\"gilligan-enabled\":\"true\",\"fullName\"\
        :\"John Doe\",\"languageCode\":\"de-de\",\"appleId\":\"jdoe@gmail.com\"\
        ,\"firstName\":\"John\",\"iCloudAppleIdAlias\":\"jdoe@icloud.com\"\
        ,\"notesMigrated\":true,\"hasPaymentInfo\":false,\"pcsDeleted\":false,\"appleIdAlias\"\
        :\"jdoe@me.com\",\"brMigrated\":true,\"statusCode\":2},\"hasMinimumDeviceForPhotosWeb\"\
        :true,\"iCDPEnabled\":false,\"webservices\":{\"reminders\":{\"url\":\"https://p38-remindersws.icloud.com:443\"\
        ,\"status\":\"active\"},\"notes\":{\"url\":\"https://p43-notesws.icloud.com:443\"\
        ,\"status\":\"active\"},\"mail\":{\"url\":\"https://p43-mailws.icloud.com:443\"\
        ,\"status\":\"active\"},\"ckdatabasews\":{\"pcsRequired\":true,\"url\":\"\
        https://p38-ckdatabasews.icloud.com:443\",\"status\":\"active\"},\"photosupload\"\
        :{\"pcsRequired\":true,\"url\":\"https://p38-uploadphotosws.icloud.com:443\"\
        ,\"status\":\"active\"},\"photos\":{\"pcsRequired\":true,\"uploadUrl\":\"\
        https://p38-uploadphotosws.icloud.com:443\",\"url\":\"https://p38-photosws.icloud.com:443\"\
        ,\"status\":\"active\"},\"drivews\":{\"pcsRequired\":true,\"url\":\"https://p38-drivews.icloud.com:443\"\
        ,\"status\":\"active\"},\"uploadimagews\":{\"url\":\"https://p38-uploadimagews.icloud.com:443\"\
        ,\"status\":\"active\"},\"schoolwork\":{},\"cksharews\":{\"url\":\"https://p38-ckshare.icloud.com:443\"\
        ,\"status\":\"active\"},\"findme\":{\"url\":\"https://p38-fmipweb.icloud.com:443\"\
        ,\"status\":\"active\"},\"ckdeviceservice\":{\"url\":\"https://p38-ckdevice.icloud.com:443\"\
        },\"iworkthumbnailws\":{\"url\":\"https://p38-iworkthumbnailws.icloud.com:443\"\
        ,\"status\":\"active\"},\"calendar\":{\"url\":\"https://p38-calendarws.icloud.com:443\"\
        ,\"status\":\"active\"},\"docws\":{\"pcsRequired\":true,\"url\":\"https://p38-docws.icloud.com:443\"\
        ,\"status\":\"active\"},\"settings\":{\"url\":\"https://p38-settingsws.icloud.com:443\"\
        ,\"status\":\"active\"},\"ubiquity\":{\"url\":\"https://p38-ubiquityws.icloud.com:443\"\
        ,\"status\":\"active\"},\"streams\":{\"url\":\"https://p38-streams.icloud.com:443\"\
        ,\"status\":\"active\"},\"keyvalue\":{\"url\":\"https://p38-keyvalueservice.icloud.com:443\"\
        ,\"status\":\"active\"},\"archivews\":{\"url\":\"https://p38-archivews.icloud.com:443\"\
        ,\"status\":\"active\"},\"push\":{\"url\":\"https://p38-pushws.icloud.com:443\"\
        ,\"status\":\"active\"},\"iwmb\":{\"url\":\"https://p38-iwmb.icloud.com:443\"\
        ,\"status\":\"active\"},\"iworkexportws\":{\"url\":\"https://p38-iworkexportws.icloud.com:443\"\
        ,\"status\":\"active\"},\"geows\":{\"url\":\"https://p38-geows.icloud.com:443\"\
        ,\"status\":\"active\"},\"account\":{\"iCloudEnv\":{\"shortId\":\"p\",\"vipSuffix\"\
        :\"prod\"},\"url\":\"https://p38-setup.icloud.com:443\",\"status\":\"active\"\
        },\"fmf\":{\"url\":\"https://p38-fmfweb.icloud.com:443\",\"status\":\"active\"\
        },\"contacts\":{\"url\":\"https://p38-contactsws.icloud.com:443\",\"status\"\
        :\"active\"}},\"pcsEnabled\":true,\"configBag\":{\"urls\":{\"accountCreateUI\"\
        :\"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!create\"\
        ,\"accountLoginUI\":\"https://idmsa.apple.com/appleauth/auth/signin?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d\"\
        ,\"accountLogin\":\"https://setup.icloud.com/setup/ws/1/accountLogin\",\"\
        accountRepairUI\":\"https://appleid.apple.com/widget/account/?widgetKey=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d#!repair\"\
        ,\"downloadICloudTerms\":\"https://setup.icloud.com/setup/ws/1/downloadLiteTerms\"\
        ,\"repairDone\":\"https://setup.icloud.com/setup/ws/1/repairDone\",\"accountAuthorizeUI\"\
        :\"https://idmsa.apple.com/appleauth/auth/authorize/signin?client_id=d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d\"\
        ,\"vettingUrlForEmail\":\"https://id.apple.com/IDMSEmailVetting/vetShareEmail\"\
        ,\"accountCreate\":\"https://setup.icloud.com/setup/ws/1/createLiteAccount\"\
        ,\"getICloudTerms\":\"https://setup.icloud.com/setup/ws/1/getTerms\",\"vettingUrlForPhone\"\
        :\"https://id.apple.com/IDMSEmailVetting/vetSharePhone\"},\"accountCreateEnabled\"\
        :\"true\"},\"hsaTrustedBrowser\":true,\"appsOrder\":[\"mail\",\"contacts\"\
        ,\"calendar\",\"photos\",\"iclouddrive\",\"notes2\",\"reminders\",\"pages\"\
        ,\"numbers\",\"keynote\",\"newspublisher\",\"fmf\",\"find\",\"settings\"],\"\
        version\":2,\"isExtendedLogin\":false,\"pcsServiceIdentitiesIncluded\":true,\"\
        hsaChallengeRequired\":false,\"requestInfo\":{\"country\":\"DE\",\"timeZone\"\
        :\"GMT+1\",\"region\":\"HE\"},\"pcsDeleted\":false,\"iCloudInfo\":{\"SafariBookmarksHasMigratedToCloudKit\"\
        :true},\"apps\":{\"calendar\":{},\"reminders\":{},\"keynote\":{\"isQualifiedForBeta\"\
        :true},\"settings\":{\"canLaunchWithOneFactor\":true},\"mail\":{},\"numbers\"\
        :{\"isQualifiedForBeta\":true},\"photos\":{},\"pages\":{\"isQualifiedForBeta\"\
        :true},\"find\":{\"canLaunchWithOneFactor\":true},\"notes2\":{},\"iclouddrive\"\
        :{},\"newspublisher\":{\"isHidden\":true},\"fmf\":{},\"contacts\":{}}}"
    headers:
      Apple-Originating-System:
      - UnknownOriginatingSystem
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-Jingle-Correlation-Key:
      - QKKHZXKR5BBJLCCLVB6OW5TOAY
      X-Apple-Request-UUID:
      - 82947cdd-51e8-4295-884b-a87ceb766e06
      X-Responding-Instance:
      - setupservice:45300303:pv43p53ic-zteg01101601:8003:1907B259:93f6a337c
      apple-seq:
      - '0'
      apple-tk:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"recordType":"CheckIndexingState"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p38-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=220791670&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"records\" : [ {\n    \"recordName\" : \"_dfc991c9-6f13-4b37-846b-606e3f31186e\"\
        ,\n    \"recordType\" : \"CheckIndexingState\",\n    \"fields\" : {\n    \
        \  \"progress\" : {\n        \"value\" : 100,\n        \"type\" : \"INT64\"\
        \n      },\n      \"state\" : {\n        \"value\" : \"FINISHED\",\n     \
        \   \"type\" : \"STRING\"\n      }\n    },\n    \"pluginFields\" : { },\n\
        \    \"recordChangeTag\" : \"0\",\n    \"created\" : {\n      \"timestamp\"\
        \ : 1557428907534,\n      \"userRecordName\" : \"_10\",\n      \"deviceID\"\
        \ : \"1\"\n    },\n    \"modified\" : {\n      \"timestamp\" : 1557428907534,\n\
        \      \"userRecordName\" : \"_10\",\n      \"deviceID\" : \"1\"\n    },\n\
        \    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\" : \"PrimarySync\"\
        ,\n      \"ownerRecordName\" : \"_ab776cbd7a4be817e6258511022b3e3c\",\n  \
        \    \"zoneType\" : \"REGULAR_CUSTOM_ZONE\"\n    }\n  } ],\n  \"syncToken\"\
        \ : \"AQAAAAAAAl1ef/////////+Yc23JwndEs5IcW5R32T2B\"\n}"
    headers:
      Apple-Originating-System:
      - UnknownOriginatingSystem
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Request-UUID:
      - f316e055-fac0-42ff-9384-f71448659d0a
      X-Responding-Instance:
      - ckdatabasews:43800301:pv33p38ic-ztbu02202401:8201:1907B315:c2912146310
      apple-seq:
      - '0'
      apple-tk:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"recordType":"CPLAlbumByPositionLive"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p38-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=220791670&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"records\" : [ {\n    \"recordName\" : \"----Root-Folder----\"\
        ,\n    \"recordType\" : \"CPLAlbum\",\n    \"fields\" : {\n      \"recordModificationDate\"\
        \ : {\n        \"value\" : 1545202692118,\n        \"type\" : \"TIMESTAMP\"\
        \n      },\n      \"sortAscending\" : {\n        \"value\" : 1,\n        \"\
        type\" : \"INT64\"\n      },\n      \"sortType\" : {\n        \"value\" :\
        \ 0,\n        \"type\" : \"INT64\"\n      },\n      \"albumType\" : {\n  \
        \      \"value\" : 3,\n        \"type\" : \"INT64\"\n      },\n      \"position\"\
        \ : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\n      },\n  \
        \    \"sortTypeExt\" : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\
        \n      }\n    },\n    \"pluginFields\" : { },\n    \"recordChangeTag\" :\
        \ \"34sz\",\n    \"created\" : {\n      \"timestamp\" : 1428692188711,\n \
        \     \"userRecordName\" : \"_ab776cbd7a4be817e6258511022b3e3c\",\n      \"\
        deviceID\" : \"586750801BB87512E6D78B7B50A8D45F00F8B375BAB00DDAC4B1B5D617CE5D01\"\
        \n    },\n    \"modified\" : {\n      \"timestamp\" : 1545202694700,\n   \
        \   \"userRecordName\" : \"_ab776cbd7a4be817e6258511022b3e3c\",\n      \"\
        deviceID\" : \"F9E7401705D29E8C0239EDC0E383B5570BE8136C36083C45EFC90BB702978DCB\"\
        \n    },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\"\
        \ : \"PrimarySync\",\n      \"ownerRecordName\" : \"_ab776cbd7a4be817e6258511022b3e3c\"\
        ,\n      \"zoneType\" : \"REGULAR_CUSTOM_ZONE\"\n    }\n  }, {\n    \"recordName\"\
        \ : \"2076BCB0-C481-4175-8F14-7A0E8EFAF02B\",\n    \"recordType\" : \"CPLAlbum\"\
        ,\n    \"fields\" : {\n      \"recordModificationDate\" : {\n        \"value\"\
        \ : 1555410486949,\n        \"type\" : \"TIMESTAMP\"\n      },\n      \"sortAscending\"\
        \ : {\n        \"value\" : 1,\n        \"type\" : \"INT64\"\n      },\n  \
        \    \"sortType\" : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\
        \n      },\n      \"albumType\" : {\n        \"value\" : 0,\n        \"type\"\
        \ : \"INT64\"\n      },\n      \"albumNameEnc\" : {\n        \"value\" : \"\
        QmlsZGVycmFobWVu\",\n        \"type\" : \"ENCRYPTED_BYTES\"\n      },\n  \
        \    \"position\" : {\n        \"value\" : 654,\n        \"type\" : \"INT64\"\
        \n      },\n      \"sortTypeExt\" : {\n        \"value\" : 0,\n        \"\
        type\" : \"INT64\"\n      }\n    },\n    \"pluginFields\" : { },\n    \"recordChangeTag\"\
        \ : \"3aab\",\n    \"created\" : {\n      \"timestamp\" : 1555410487696,\n\
        \      \"userRecordName\" : \"_ab776cbd7a4be817e6258511022b3e3c\",\n     \
        \ \"deviceID\" : \"CC7FFBD5DE9A7605F79638C77C38960B79A76DD061358C66A338AE3C43F87A8E[...]
