interactions:
- request:
    body: !!python/unicode '{"accountName": "jdoe@gmail.com", "password": "password1",
      "rememberMe": true, "trustTokens": []}'
    headers:
      Content-Type: ['application/json']
      X-Apple-OAuth-Client-Id: ['d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d']
      X-Apple-OAuth-Client-Type: ['firstPartyAuth']
      X-Apple-OAuth-Redirect-URI: ['https://www.icloud.com']
      X-Apple-OAuth-Require-Grant-Code: ['true']
      X-Apple-OAuth-Response-Mode: ['web_message']
      X-Apple-OAuth-Response-Type: ['code']
      X-Apple-OAuth-State: ['DE309E26-942E-11E8-92F5-14109FE0B321']
      X-Apple-Widget-Key: ['d39ba9916b7251055b22c7f910e2ea796ee65e98b2ddecea8f5dde8d9d1a815d']
    method: POST
    uri: https://idmsa.apple.com/appleauth/auth/signin?isRememberMeEnabled=true
  response:
    body:
      string: !!python/unicode '{}'
    headers:
      Content-Type: ['text/html;charset=UTF-8']
      Location: ['/auth']
      X-Apple-Auth-Attributes: ['123456789abcdefg']
      X-Apple-I-Request-ID: ['12345678-1234-1234-1234-123456789012']
      X-Apple-I-Rscd: ['409']
      X-Apple-ID-Account-Country: ['USA']
      X-Apple-ID-Session-Id: ['sess-1234567890']
      X-Apple-Session-Token: ['token-1234567890']
      X-Apple-TwoSV-Trust-Eligible: ['true']
      X-BuildVersion: ['R4_1']
      scnt: ['scnt-1234567890']
    status:
      code: 200
      message: ''
- request:
    body: !!python/unicode '{"accountCountryCode": "USA", "dsWebAuthToken": "token-1234567890", "extended_login": true, "trustToken": ""}'
    headers:
    method: POST
    uri: https://setup.icloud.com/setup/ws/1/accountLogin
  response:
    body:
      string: !!python/unicode '{"dsInfo": {"lastName":"Doe","iCDPEnabled":false,"tantorMigrated":false,"dsid":"12345678901","hsaEnabled":true,
        "ironcadeMigrated":true,"locale":"en-us_US","brZoneConsolidated":false,"ICDRSCapableDeviceList":"","isManagedAppleID":false,
        "isCustomDomainsFeatureAvailable":true,"isHideMyEmailFeatureAvailable":true,"ContinueOnDeviceEligibleDeviceInfo":[],"gilligan-invited":true,
        "appleIdAliases":[],"hsaVersion":2,"ubiquityEOLEnabled":true,"isPaidDeveloper":false,"countryCode":"USA","notificationId":"12341234-1234-12341234-1234",
        "primaryEmailVerified":true,"aDsID":"123456-12-12345678-1234-1234-1234-123456789012","locked":false,"ICDRSCapableDeviceCount":0,
        "hasICloudQualifyingDevice":true,"primaryEmail":"jdoe@gmail.com","appleIdEntries": [{"isPrimary":true,"type":"EMAIL","value":"jdoe@gmail.com"}],
        "gilligan-enabled":true,"isWebAccessAllowed":true,"fullName":"John Doe","mailFlags":{"isThreadingAvailable":false,"isSearchV2Provisioned":false,
        "rawBits":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
        "isCKMail":false,"isMppSupportedInCurrentCountry":true},"languageCode":"en-us","appleId":"jdoe@gmail.com","analyticsOptInStatus":false,
        "firstName":"john","iCloudAppleIdAlias":"","notesMigrated":true,"beneficiaryInfo":{"isBeneficiary":false},"hasPaymentInfo":true,"pcsDeleted":false,
        "appleIdAlias":"","brMigrated":true,"statusCode":2,"familyEligible":true},"hasMinimumDeviceForPhotosWeb":true,"iCDPEnabled":false,
        "webservices":{"reminders":{"url":"https://p61-remindersws.icloud.com:443","status":"active"},"ckdatabasews":{"pcsRequired":true,
        "url":"https://p61-ckdatabasews.icloud.com:443","status":"active"},"photosupload":{"pcsRequired":true,
        "url":"https://p61-uploadphotosws.icloud.com:443","status":"active"},"photos":{"pcsRequired":true,
        "uploadUrl":"https://p61-uploadphotosws.icloud.com:443","url":"https://p61-photosws.icloud.com:443","status":"active"},"drivews":{"pcsRequired":true,
        "url":"https://p61-drivews.icloud.com:443","status":"active"},"uploadimagews":{"url":"https://p61-uploadimagews.icloud.com:443","status":"active"},
        "schoolwork":{},"cksharews":{"url":"https://p61-ckshare.icloud.com:443","status":"active"},"findme":{"url":"https://p61-fmipweb.icloud.com:443",
        "status":"active"},"ckdeviceservice":{"url":"https://p61-ckdevice.icloud.com:443"},
        "iworkthumbnailws":{"url":"https://p61-iworkthumbnailws.icloud.com:443","status":"active"},
        "mccgateway":{"url":"https://p61-mccgateway.icloud.com:443","status":"active"},"calendar":{"isMakoAccount":false,
        "url":"https://p61-calendarws.icloud.com:443","status":"active"},"docws":{"pcsRequired":true,"url":"https://p61-docws.icloud.com:443",
        "status":"active"},"settings":{"url":"https://p61-settingsws.icloud.com:443","status":"active"},
        "premiummailsettings":{"url":"https://p61-maildomainws.icloud.com:443","status":"active"},"ubiquity":{"url":"https://p61-ubiquityws.icloud.com:443",
        "status":"active"},"keyvalue":{"url":"https://p61-keyvalueservice.icloud.com:443","status":"active"},"mpp":{"url":"https://relay.icloud-mpp.com",
        "status":"active"},"archivews":{"url":"https://p61-archivews.icloud.com:443","status":"active"},"push":{"url":"https://p61-pushws.icloud.com:443",
        "status":"active"},"iwmb":{"url":"https://p61-iwmb.icloud.com:443","status":"active"},
        "iworkexportws":{"url":"https://p61-iworkexportws.icloud.com:443","status":"active"},"sharedlibrary":{"url":"https://sharedlibrary.icloud.com:443",
        "status":"active"},"geows":{"url":"https://p61-geows.icloud.com:443","status":"active"},"account":{"iCloudEnv":{"shortId":"p","vipSuffix":"prod"},
        "url":"https://p61-setup.icloud.com:443","status":"active"},"contacts":{"url":"https://p61-contactsws.icloud.com:443","status":"active"},
        "developerapi":{"url":"https://developer-api.icloud.com:443","status":"active"}},"pcsEnabled":true,
        "configBag":{"urls":{"accountCreateUI":"https://appleid.apple.com/widget/account/?widgetKey=#!create",
        "accountLoginUI":"https://idmsa.apple.com/appleauth/auth/signin?widgetKey=","accountLogin":"https://setup.icloud.com/setup/ws/1/accountLogin",
        "accountRepairUI":"https://appleid.apple.com/widget/account/?widgetKey=#!repair",
        "downloadICloudTerms":"https://setup.icloud.com/setup/ws/1/downloadLiteTerms","repairDone":"https://setup.icloud.com/setup/ws/1/repairDone",
        "accountAuthorizeUI":"https://idmsa.apple.com/appleauth/auth/authorize/signin?client_id=",
        "vettingUrlForEmail":"https://id.apple.com/IDMSEmailVetting/vetShareEmail","accountCreate":"https://setup.icloud.com/setup/ws/1/createLiteAccount",
        "getICloudTerms":"https://setup.icloud.com/setup/ws/1/getTerms","vettingUrlForPhone":"https://id.apple.com/IDMSEmailVetting/vetSharePhone"},
        "accountCreateEnabled":true},"hsaTrustedBrowser":true,"appsOrder":["mail","contacts","calendar","photos","iclouddrive","notes3","reminders",
        "pages","numbers","keynote","newspublisher","find","settings"],"version":2,"isExtendedLogin":true,"pcsServiceIdentitiesIncluded":false,
        "hsaChallengeRequired":false,"requestInfo":{"country":"US","timeZone":"EST","region":"NC"},"pcsDeleted":false,
        "iCloudInfo":{"SafariBookmarksHasMigratedToCloudKit":false},"apps":{"calendar":{},"reminders":{},"keynote":{"isQualifiedForBeta":true},
        "settings":{"canLaunchWithOneFactor":true},"mail":{},"numbers":{"isQualifiedForBeta":true},"photos":{},"pages":{"isQualifiedForBeta":true},
        "notes3":{},"find":{"canLaunchWithOneFactor":true},"iclouddrive":{},"newspublisher":{"isHidden":true},"contacts":{}}}'
    headers:
      Content-Type: ['application/json; charset=UTF-8']
      X-Apple-Edge-Response-Time: ['501']
      X-Apple-Request-UUID: ['12345678-1234-1234-1234-123456789012']
      X-Responding-Instance: ['setupservice:33200401:mr55p32ic-qukt01202301:7001:2404B363:5934c9004de5']
      x-apple-user-partition: ['32']
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"recordType":"CheckIndexingState"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type: [text/plain]
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=12345678901&remapEnums=True&getCurrentSyncToken=True
  response:
    body: {string: "{\n  \"records\" : [ {\n    \"recordName\" : \"_ac333066-5d55-4c42-b033-f05bb9d2873c\",\n
        \   \"recordType\" : \"CheckIndexingState\",\n    \"fields\" : {\n      \"progress\"
        : {\n        \"value\" : 100,\n        \"type\" : \"INT64\"\n      },\n      \"state\"
        : {\n        \"value\" : \"FINISHED\",\n        \"type\" : \"STRING\"\n      }\n
        \   },\n    \"pluginFields\" : { },\n    \"recordChangeTag\" : \"0\",\n    \"created\"
        : {\n      \"timestamp\" : 1533040623320,\n      \"userRecordName\" : \"_10\",\n
        \     \"deviceID\" : \"1\"\n    },\n    \"modified\" : {\n      \"timestamp\"
        : 1533040623320,\n      \"userRecordName\" : \"_10\",\n      \"deviceID\"
        : \"1\"\n    },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\"
        : \"PrimarySync\",\n      \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\"\n
        \   }\n  } ],\n  \"syncToken\" : \"AQAAAAAAAwmVf//////////Kd+LphRdKGbpJMSeRX5Td\"\n}"}
    headers:
      Apple-Originating-System: [UnknownOriginatingSystem]
      Content-Type: [application/json; charset=UTF-8]
      X-Apple-CloudKit-Version: ['1.0']
      X-Apple-Request-UUID: [4bdf08db-dcb1-421b-96be-648eb85521b6]
      X-Responding-Instance: ['ckdatabasews:21000301:nk11p10me-ztbu22062301:8201:1813B216:nocommit']
      apple-seq: ['0']
      apple-tk: ['false']
    status: {code: 200, message: OK}

- request:
    body: '{}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/zones/list
  response:
    body:
      string: "{\n  \"moreComing\" : false,\n  \"syncToken\" : \"AQAAAAAAAwmVf//////////Kd+LphRdKGbpJMSeRX5Td\",\n
        \ \"zones\" : [ {\n    \"zoneID\" : {\n      \"zoneName\" : \"PrimarySync\",\n
        \     \"ownerRecordName\" : \"_bfc6dbbcc77b03e6cebefd28a28f7e2f\",\n      \"zoneType\"
        : \"REGULAR_CUSTOM_ZONE\"\n    }\n  } ]\n}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Apple-CloudKit-Version:
      - '1.0'
      X-Apple-Edge-Response-Time:
      - '195'
      X-Apple-Request-UUID:
      - 34046027-8226-46f7-9960-4b0839c08b82
      X-Responding-Instance:
      - ckdatabasews:966835083:prod-p121-ckdatabasews-100percent-79bfc6b95d-klrcc:8080:2322B333:13811c3d707a78576fcc7f8962567af12bdfeeb4
      x-apple-user-partition:
      - '121'
    status:
      code: 200
      message: OK

[...]
- request:
    body: '{"query":{"recordType":"CPLAlbumByPositionLive"},"zoneID":{"zoneName":"PrimarySync"}}'
    headers:
      Content-type:
      - text/plain
    method: POST
    uri: https://p61-ckdatabasews.icloud.com/database/1/com.apple.photos.cloud/production/private/records/query?clientBuildNumber=17DHotfix5&clientMasteringNumber=17DHotfix5&ckjsBuildVersion=17DProjectDev77&ckjsVersion=2.0.5&clientId=DE309E26-942E-11E8-92F5-14109FE0B321&dsid=12345678901&remapEnums=True&getCurrentSyncToken=True
  response:
    body:
      string: "{\n  \"records\" : [ {\n    \"recordName\" : \"----Root-Folder----\"\
        ,\n    \"recordType\" : \"CPLAlbum\",\n    \"fields\" : {\n      \"recordModificationDate\"\
        \ : {\n        \"value\" : 1545202692118,\n        \"type\" : \"TIMESTAMP\"\
        \n      },\n      \"sortAscending\" : {\n        \"value\" : 1,\n        \"\
        type\" : \"INT64\"\n      },\n      \"sortType\" : {\n        \"value\" :\
        \ 0,\n        \"type\" : \"INT64\"\n      },\n      \"albumType\" : {\n  \
        \      \"value\" : 3,\n        \"type\" : \"INT64\"\n      },\n      \"position\"\
        \ : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\n      },\n  \
        \    \"sortTypeExt\" : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\
        \n      }\n    },\n    \"pluginFields\" : { },\n    \"recordChangeTag\" :\
        \ \"34sz\",\n    \"created\" : {\n      \"timestamp\" : 1428692188711,\n \
        \     \"userRecordName\" : \"_ab776cbd7a4be817e6258511022b3e3c\",\n      \"\
        deviceID\" : \"586750801BB87512E6D78B7B50A8D45F00F8B375BAB00DDAC4B1B5D617CE5D01\"\
        \n    },\n    \"modified\" : {\n      \"timestamp\" : 1545202694700,\n   \
        \   \"userRecordName\" : \"_ab776cbd7a4be817e6258511022b3e3c\",\n      \"\
        deviceID\" : \"F9E7401705D29E8C0239EDC0E383B5570BE8136C36083C45EFC90BB702978DCB\"\
        \n    },\n    \"deleted\" : false,\n    \"zoneID\" : {\n      \"zoneName\"\
        \ : \"PrimarySync\",\n      \"ownerRecordName\" : \"_ab776cbd7a4be817e6258511022b3e3c\"\
        ,\n      \"zoneType\" : \"REGULAR_CUSTOM_ZONE\"\n    }\n  }, {\n    \"recordName\"\
        \ : \"2076BCB0-C481-4175-8F14-7A0E8EFAF02B\",\n    \"recordType\" : \"CPLAlbum\"\
        ,\n    \"fields\" : {\n      \"recordModificationDate\" : {\n        \"value\"\
        \ : 1555410486949,\n        \"type\" : \"TIMESTAMP\"\n      },\n      \"sortAscending\"\
        \ : {\n        \"value\" : 1,\n        \"type\" : \"INT64\"\n      },\n  \
        \    \"sortType\" : {\n        \"value\" : 0,\n        \"type\" : \"INT64\"\
        \n      },\n      \"albumType\" : {\n        \"value\" : 0,\n        \"type\"\
        \ : \"INT64\"\n      },\n      \"albumNameEnc\" : {\n        \"value\" : \"\
        QmlsZGVycmFobWVu\",\n        \"type\" : \"ENCRYPTED_BYTES\"\n      },\n  \
        \    \"position\" : {\n        \"value\" : 654,\n        \"type\" : \"INT64\"\
        \n      },\n      \"sortTypeExt\" : {\n        \"value\" : 0,\n        \"\
        type\" : \"INT64\"\n      }\n    },\n    \"pluginFields\" : { },\n    \"recordChangeTag\"\
        \ : \"3aab\",\n    \"created\" : {\n      \"timestamp\" : 1555410487696,\n\
        \      \"userRecordName\" : \"_ab776cbd7a4be817e6258511022b3e3c\",\n     \
        \ \"deviceID\" : \"CC7FFBD5DE9A7605F79638C77C38960B79A76DD061358C66A338AE3C43F87A8E[...]
