on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Retrieve version and Changelog
        run: |
          echo ::set-env name=ICLOUDPD_VERSION::$(cat "$ROOT_DIR/setup.py" | grep version= | cut -d'"' -f 2)
          echo ::set-env name=ICLOUDPD_CHANGELOG::$(git log --pretty="%h - %s (%an)" $(git tag -l | tail -n 2 | head -n 1)..HEAD)          
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Bug Fixes:

            - TODO: Describe any bug fixes

            Enhancements:

            - TODO: Describe any new features or enhancements
            
            ${{ env.ICLOUDPD_CHANGELOG }}
          draft: false
          prerelease: false
